

label.error{
	color: #d8142b;
}

/* menu
-------------------------------------------------- */
.navbar-fixed-top {

}

.navbar-default {
	background-color: #FFFFFF;
	border: none;
	/*height: 95px;*/
}
.navbar-nav {
	float: none;
	/*width: 83%;*/
	margin: 0 auto;
}
.navbar-nav > li{
	/*border-left: 1px dotted #FFFFFF;*/
}
.navbar-nav > li:hover{
	background-color: #FFFFFF;
	
}
.navbar-nav > li:last-child{
	/*border-right: 1px dotted #FFFFFF;*/
}
.navbar-nav > li > a{
	color: #E75280 !important;
    font-size: 14px;
    font-weight: bold;
    /*padding-left: 10%;
    padding-right: 10%;*/
    text-transform: uppercase;
}
.navbar-nav > li > a:hover{
	text-decoration: underline;
}

.navbar-collapse {

}
.container-fluid {
	text-align: center !important;
}


.dropdown-menu {
	left: -127% !important;
	text-align: left;
}

a.navbar-brand {
	margin-left: 0 !important;
	background: url(../../icon/logo-2.png) no-repeat;
	width: 150px;
}
.img-logo {
    width: 100%;

}

.navbar-right {
	background-color: #1372e3;
	border-radius: 5px;
}
.navbar-right > li > a {
	color: #FFFFFF !important;
}

.site-map {
	height: 40px;
	background-color: #e85684;
	margin: 2% 0;
	border-radius: 5px;
	padding-top: 0.5%;
	color: #FFFFFF;
	font-size: 20px;
	text-transform: uppercase;
}

/* end menu -----------------------------------------------*/

/* center
-----------------------------------------------------------*/
.center-dashboard{
	margin: 0;
	margin-top: 90px;
	min-height: 600px;
	background-color: #FBE5EC;
	position: relative;
}
.menu-left {
	min-height: 150px;
	padding-right: 0;
	position: fixed;
	top: 50px;
	left: 0;
	z-index: 9999;
}
.menu-left-title {
	background-color: #e75280;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    height: 45px;
    padding: 3% 0;
    text-align: center;
    text-transform: uppercase;
}
.menu-left-item {
	background-color: #ffffff;
    border-bottom: 1px solid #e75280;
    height: 40px;
    padding-left: 5%;
    padding-top: 5%;
}
.menu-left-item > a {
	color: #ec7599;
	text-transform: uppercase;
	font-size: 16px;
	text-transform: uppercase;
}
.menu-left-item:last-child {
	border-bottom: 2px solid #e75280;
}

.content{
	background-color: #FFFFFF;
	min-height: 500px;
	padding-left: 15px;
	padding-bottom: 5%;
	margin-left: 225px;
}

/*index*/
.thong-ke {
	border: 1px solid #e95f8b;
}
.content-index-item{
	min-height: 100px;
	padding-left: 0;
	padding-right: 0.4%;
	margin-top: 2%;
}
.content-index-item .div-1{
	height: 30px;
	background-color: #E75280;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 1%;
	font-size: 17px;
	border: 1px solid #E75280;
	border-radius: 5px 5px 0 0;
}
.content-index-item .div-2{
	text-align: center;
	text-transform: uppercase;
	color: #3af725;
	padding: 7% 0;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #E75280;
	border-bottom: none;
	background-color: #F5F5F5;
}
.content-index-item .div-2 span{
	font-size: 17px;
}
.content-index-item .div-3{
	padding: 3%;
	border: 1px solid #E75280;
	border-radius: 0 0 5px 5px;
	background-color: #F5F5F5;
	cursor: pointer;
}
.content-index-item .div-3 a{
	display: block;
	text-decoration: none;
	font-size: 17px;
}
.content-index-item .div-3 a i{
	float: right;
}

/*end center --------------------------------------------------*/

/*css footer*/
.footer{
	margin: 0;
	background-color: #FBE5EC;
	padding-top: 2%;
}
.menu-footer{
	padding: 0;
}
.menu-footer ul{
	list-style-type: none;
	display: block;
	padding: 0 20px;
	margin: 0 15px;
	text-align: left;
}
.menu-footer ul li a{
	font-size: 13px;
	color: black;
	font-weight: bold;

}
.menu-footer ul li a:hover{
	color: #e75280;
}
.infor-company{
	font-size: 11px;
	text-align: left;
	padding: 0 20px;
	margin: 15px 0px 0px 15px;
}
.contact-admin{
	font-size: 11px;
	color: black;
	font-weight: bold;
}
a.contact-admin:hover{
	color: #e75280;
}
.thuna-title{
	font-size: 11px;
	color: black;
	font-weight: bold;
}
.thuna-title:hover{
	color: #e75280;
}
.site-author{
	margin-top: 15px;
	font-weight: bold;
	font-size: 12px;
}
.connect-thuna{
	/*margin-top: -10px;*/
	padding-left: 0;
}
/*noi dung footer*/
.main-content-footer{
	margin-top: 0px;
	background: white;

}
.box-menu{
	border: 1px solid #dcdbd9;
	margin-left: 30px;
}
.menu-content-footer{
	background: none repeat scroll 0 0 transparent;
	
}
.menu-content-footer ul{
	list-style-type: none;
	padding: 0px;
	padding-left: 70px;
}
.menu-content-footer ul li{
	text-align: left;
	line-height: 30px;
}
.menu-content-footer ul li a{
	content: "●";
	color: #363636;
}
.menu-content-footer ul li a:before{
	content: "●";
	color: #23CDCF;
}
.menu-content-footer ul li a:hover{
	color: #23CDCF;
}

.you-know{
	border-bottom: 1px solid #dcdbd9;
	line-height: 30px;
	color: #E75280;
	font-size: 16px;
	height: 50px;
	padding-top: 20px;
}
.content-footer{
	border-top: 1px solid #dcdbd9;
	margin-left: 15px;
	padding: 0px;

}
.title-content-footer{
	background: url('../img/title-content-footer.png');
	height: 45px;
	padding-top: 15px;
	font-family: "Courgette",cursive;
	font-size: 18px;

}
.active-a{
	color: #E75280 !important;
	font-weight: bold;
}
.active-a:before{
	color: #E75280 !important;
}
.para-content{
	padding-top: 30px;
	text-align: center;
}
.margin-footer{
	min-height: 370px;
}
/*end footer*/


/*start panel-statictis*/
.panel{
	margin-top: 2%;
	margin-bottom: 0;
	margin-right: 1%;
}
.panel-body > #checklist, .panel-body > #budget, 
.panel-body > #guestlist, .panel-body > #website{
	display: none;
}
.panel-body > .active{
	display: block !important;
}

/*end*/


/* checklist */
.thong-ke-chi-tiet-cong-viec {
	padding-top: 2.5%;
}
.checklist-statis-formonth {
	padding: 10px;
	background: #555555;
	color: #fff;
}
.checklist-statis-formonth span{
	padding: 5px;
	margin: 5px 110px 0px 0px;
	font-weight: bold;
}

.checklist-statis-formonth-hide{
	width: 71.3%;
	padding: 10px;
	background: #555555;
	color: #fff;
	display: none;
	position: fixed;
	z-index: 99999;
	top: 0;
}
.checklist-statis-formonth-hide span{
	padding: 5px;
	margin: 5px 110px 0px 0px;
	font-weight: bold;
}
/*end checklist*/


/******Guest-list*****/
.clr{clear: both;}

.table-guest{
	width: 100%;
	margin: 10px 0px 20px 0px;
	border-collapse:collapse;
	
}
.table-guest-thead-fixed{
	width: 970px;
	display: none;
	position: fixed;
	top: 0px;
	z-index: 99999;
}
.table-guest-thead-fixed th{

	
}
.table-guest tr{
	line-height: 40px;
	
}
.table-guest tr td{
	padding: 0px 0px 0px 10px;
	text-align: center;
	
}
.table-guest th{
	background: #555555;
	color: #fff;
	text-align: center;
	padding: 5px;

}
.table-guest tr.guest_cat:hover > td a.icon-delete-group
{
	display: inline-block;
}
.table-guest tr.guest_cat:hover > td a.icon-edit-group
{
	display: inline-block;
}


.table-guest tr:hover > td a.guest_list_icon_trash{
	display: inline-block;
}

.table-guest tr.guest_list_cat{
	color: #19b5bc;
}
.table-guest tr.guest_cat{
	background-color: #fff6ee;
	border-top:1px solid #ccc;
}

a.icon-delete-group
{
	display: none;
}
a.icon-edit-group
{
	display: none;
}
a.guest_list_icon_trash{
	display: none;
}
 .invited1
{
	background-color:#3B5998;
	height:30px;width:70px;
	color: white;
	text-align: center;
	padding: 0px; !important
}
.invited2
{
	background-color:#B5B2AF;height:30px;width:70px;color: white;
	text-align: center;
	padding: 1px;
}
.input-edit-guest{
	width: 120px;
	text-align: right;
	display: none;
}
.span-id-guest, .span-id-guest:hover{
	color: red;
	cursor: pointer;
	font-weight: bold;

	
}

#guest_summary{
	background: #f2f0ee;
	margin-bottom: 20px;
	padding: 15px;
	text-align: right;
}
#guest_summary div, #guest_summary h3{text-align: left;}

.guest_vendor{
	margin: 10px 0px 10px 0px;
}
.algin-delete{
	text-align: center;
}

/*end guestlist*/

/***** BUTGET *****/
.creat_budget{
	min-height: 380px;
}

.clr{clear: both;}

.budget-column-icon{
	background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.table-budget{
	width: 100%;
	margin: 10px 0px 20px 0px;
	border-collapse:collapse;
}
.table-budget-thead-fixed{
	width: 72.5%;
	display: none;
	position: fixed;
	top: 0px;
	z-index: 99999;
}
.table-budget-thead-fixed th{

}

.table-budget tr{
	line-height: 40px;
}
.table-budget tr td{
	padding: 0px 0px 0px 10px;
}
.table-budget th{
	background: #555555;
	color: #fff;
	text-align: left;
	padding: 5px;
}
.table-budget tr:hover > td a.budget_icon_trash{
	display: inline-block;
}
.table-budget tr:hover > td a.budget_icon_note{
	display: inline-block;
	color: #ff9022;
}
.table-budget tr.budget_item_cat{
	color: #19b5bc;
}
.table-budget tr.budget_cat{
	background-color: #fff6ee;
	border-top:1px solid #ccc;
}

i#budget_category_icon{
	color: #19b5bc;
}
a.budget_icon_trash{
	display: none;
}
a.budget_icon_note{
	display: none;
}
.input-edit-money{
	width: 120px;
	text-align: right;
	display: none;
}
a.budget_icon_notes{
	display: inline-block;
	color: #ff9022;
}

#budget_summary{
	background: #f2f0ee;
	margin-bottom: 20px;
	padding: 15px;
	text-align: right;
}
#budget_summary div, #budget_summary h3{text-align: left;}
.TienVND{text-align: left; !important;}
.budget_vendor{
	margin: 10px 0px 10px 0px;
}

/*end budget*/

@media only screen and (min-device-width: 768px) and (max-device-width: 980px){
	.nav > li > a, .navbar-brand{
		font-size: 100%;
	}

	.dropdown-menu > li > a{
		font-size: 95%;
	}

	.table-hover, .table-guest{
		font-size: 100%;
	}

	.sort-by h2{
		font-size: 200%;
	}

	.checklist-statis-formonth, .checklist-statis-formonth-hide{
		font-size: 90%;
	}

	.panel-heading{
		font-size: 100%;
	}
	.panel-title{
		font-size: 100%;
	}

	.thead-guest{
		font-size: 75%;
		line-height: 100% !important;
	}
	.guest_cat{
		font-size: 90%;
	}

	.table-budget{
		font-size: 100%;
	}
	.title-budget{
		font-size: 200%;
	}
	.thead-budget{
		font-size: 70%;
	}

	.title-create-budget{
		font-size: 200%;
	}

	.content{
		margin-left: 0px !important;
	}

	/* menu
	--------------------------*/
	.navbar-header {
	    float: none;
	}
	.navbar-toggle {
	    display: block;
	}
	.navbar-collapse {
	    border-top: 1px solid transparent;
	    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
	    display: none!important;
	}
	.navbar-collapse.collapse.in {
	    display: block!important;
	}
	.navbar-nav {
	    float: none!important;
	}
	.navbar-nav>li {
	    float: none;
	}
	.navbar-nav>li>a {
	    padding-top: 10px !important;
	    padding-bottom: 10px !important;
	    text-align: left;
	}

	.navbar-right {
		background-color: #FFFFFF !important;
	}
	.navbar-right > li > a {
		color: #E75280 !important;
	}

	.navbar-nav .open .dropdown-menu {
	    position: static;
	    float: none;
	    width: auto;
	    margin-top: 0;
	    background-color: transparent;
	    border: 0;
	    box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
	    padding: 5px 15px 5px 25px;
	    color: #E752AA;
	}
	.navbar-nav .open .dropdown-menu > li > a {
	    line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-nav .open .dropdown-menu > li > a:focus {
	    background-image: none;
	}
	/*------------------------*/

}

@media only screen and (min-device-width: 320px) and (max-device-width: 360px){
	.nav > li > a, .navbar-brand{
		font-size: 100%;
	}

	.dropdown-menu > li > a{
		font-size: 95%;
	}

	.table-hover{
		font-size: 95%;
	}

	.sort-by h2{
		font-size: 170%;
	}

	.checklist-statis-formonth, .checklist-statis-formonth-hide{
		font-size: 80%;
	}

	.panel-heading{
		font-size: 90%;
	}
	.panel-title{
		font-size: 90%;
	}

	.thead-guest{
		font-size: 70%;
		line-height: 100% !important;
	}
	.guest_cat{
		font-size: 80%;
	}
	.table-guest{
		font-size: 65%;
	}

	.table-budget{
		font-size: 80%;
	}
	.title-budget{
		font-size: 170%;
	}
	.thead-budget{
		font-size: 70%;
	}

	.title-create-budget{
		font-size: 150%;
	}

	.content{
		margin-left: 0px !important;
	}

	/* menu
	----------------------*/
	.navbar-nav>li>a {
	    padding-top: 7px !important;
	    padding-bottom: 7px !important;
	    text-align: left;
	}

	.navbar-right {
		background-color: #FFFFFF !important;
	}
	.navbar-right > li > a {
		color: #E75280 !important;
	}
	.dropdown-menu > li > a {
		color: #E752AA !important;
	}
	/*--------------------*/

}


.time-count-down {
	display: block;
	text-align: center;
}
.display-dd-mm-yyyy-1, .display-dd-mm-yyyy-2, .display-dd-mm-yyyy-3, .display-dd-mm-yyyy-4 {
	background-color: #e75380;
	color: #FFFFFF;
	padding: 2%;
	box-shadow: 5px #e75380;
	border-radius: 5px;
	font-size: 40px;
	font-weight: bold;
}
.margin-two-dot {
	color: #e75380;
	font-size: 45px;
	font-weight: bold;
}

