
/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('http://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');

@font-face {
	font-family: 'UvfAphroditePro';
	src: url('../fonts/UVF Aphrodite Pro.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'UVF-LH-Line1-Sans-Thin';
	src: url('../fonts/UVF LH Line1 Sans Thin.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'OpenSan-Regular';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

body {
    
    /*font-family: Arial;*/
    font-family: "OpenSan-Regular";
	font-weight: 300;
    color: #666;
    background-color: #fff;
	font-size: 16px;
    line-height: 1.6em;
	font-weight: 400;
	margin: 0 15px 0 15px;
}


html {
    width: 100%;
    margin: 0 auto;
}

h1 {
	font-size: 38px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 24px;
}
h6 {
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	color: #111;
}

h1.h-xlight,h2.h-xlight,h3.h-xlight ,h4.h-xlight ,h5.h-xlight ,h6.h-xlight  {
	font-weight: 200;
}

h1.h-light,h2.h-light,h3.h-light ,h4.h-light ,h5.h-light ,h6.h-light  {
	font-weight: 300;
}

h1.h-bold,h2.h-bold,h3.h-bold ,h4.h-bold ,h5.h-bold ,h6.h-bold  {
	font-weight: 600;
}

h1.font-light,h2.font-light,h3.font-light,h4.font-light,h5.font-light,h6.font-light {
	color: #fff;
}

.big-heading {
	font-size: 48px;
	font-weight: 700;
}

p { margin: 0 0 20px; }

p.lead { font-weight: 600; }

a {
    color: #2A6496;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {  text-decoration: none !important; }

/* menu
---------------------------------------------*/
.bg-menu-top {
	/*background: url(../../icon/bg-header-top.png) no-repeat !important;*/
	/*background-size: cover !important;*/
	padding: 0 2%;
	position: relative;
}
/*.bg-menu-top:after {
	position: absolute;
	left: 0;
	border-top: 2px dashed #cb839b;
	z-index: 2;
	width: 100%;
	top: 2px;
}
.bg-menu-top:before {
	position: absolute;
	left: 0;
	border-top: 2px dashed #661d35;
	z-index: 2;
	width: 100%;
	top: 3px;
}*/
.navbar {
	padding: 0 !important;
	border: none !important;
	border-radius: 0 !important;
	margin: 0 auto !important;
	width: 100%;
}
.navbar-nav {
	padding-left: 20%;
}
.navbar-nav > li {
	text-align: center;
	position: relative;
}
.navbar-nav > li > a {
	font-size: 18px !important;
	/*line-height: 30px !important;*/
	color: #333333 !important;
	outline: none;
	white-space: nowrap;
}
.navbar-nav > li.active > a { color: #ef4c9b !important; }
.navbar-nav > li > a:hover { background: none !important; color: #ef4c9b !important; }

/*.navbar-nav > li > a > span.icon-show { 
	display: none;
	font-size: 25px;
}
.navbar-nav > li > a:hover span.txt-menu { display: none; }
.navbar-nav > li > a:hover span.icon-show { display: inline-block; }*/
/*.icon-hover, .icon-hover-music,
.icon-hover-home, .icon-hover-website,
.icon-hover-planning-tool {
	height: 0px;
    width: 0px;
}
.navbar-nav > li > a:hover img{
	width: 30px;
	height: 25px;
	-webkit-transition: width,height 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
    /*-moz-transition: width,height 0.5s ease-in-out;
    -o-transition: width,height 0.5s ease-in-out;
    transition: width,height 0.5s ease-in-out;
}*/
/*.navbar-nav > li > a:hover img.icon-hover { margin: 0 65px; }
.navbar-nav > li > a:hover img.icon-hover-music { margin: 0 15px; }
.navbar-nav > li > a:hover img.icon-hover-home { margin: 0 40px; }
.navbar-nav > li > a:hover img.icon-hover-website { margin: 0 50px; }
.navbar-nav > li > a:hover img.icon-hover-planning-tool { margin: 0 90px; }*/

.lr-bottom-menu {
	background: url(../../icon/lr-menu.png) no-repeat;
	background-size: 100%;
	height: 20px;
	z-index: 5555;
	/*margin-bottom: 15px;*/
}
/*--------------------------*/


/* --- logo --- */

a.brand {
	/*color: #111;
	text-transform: uppercase;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin-top: 10px;*/
}

.img-logo {
	height: 95px;
    margin-left: 20px;
    margin-top: -30px;
    padding-right: 50%;
    width: 100%;
}

#menu-bar-bottom{
	width: 85% !important;
	margin: 37% auto 3%;
}
#menu-bar-bottom > div{
	text-align: center !important;
}
#menu-bar-bottom > div > a {
	text-transform: uppercase !important;
	outline: none;
	color: #000000;
	display: block;
}
/*#menu-bar-bottom > div > a.active { color: #EF4C9B; }*/
#menu-bar-bottom > div > a i { margin-bottom: 7px; display: block; }
#menu-bar-bottom > div > a:hover { color: #e92d91; }
#menu-bar-bottom > div > a.active { color: #EF4C9B !important; }
#menu-bar-bottom > div > a > span{
	/*font-weight: bold;*/
	font-size: 18px;
}

#load-content{
	/*width: 85% !important;*/
	margin: 0 auto;
}
.tab-content-index {
	padding: 2%;
}
.div-content-intruduce {
	background-color: #E3E1E1;
	padding: 20px 0;
	margin-bottom: 20px;
}
.div-content-intruduce:last-child { margin-bottom: 0px; }
.div-content-intruduce img {width: 100%;}
.des-index-tool {
	/*background-color: #FFFFFF;*/
	padding: 0 10px;
}
.des-index-tool h5 {
	font-size: 20px;
	color: #11a5b6;
}

.btn-use-now {
	background-color: #e92d91;
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 3px;
}
.btn-use-now:hover { color: #FFFFFF; background-color: #CC1071; }


.td-register {
	background-color: #11a5b6;
}
.td-register h6 {
	background-color: #11a5b6;
	color: #fff;
}
.td-register h6 a { color: #fff; }
.td-register form {
	background-color: #11a5b6;
}

/* cam nhan khach hang
-------------------------*/
.cam-nhan-khach-hang {
	margin: 2% 0;
}
.cam-nhan-item {
	margin: 2% 0;
}
.cam-nhan-title {
	text-transform: uppercase;
	color: #232323;
	text-align: center;
	font-size: 22px;
	margin-bottom: 1.5%;
}
.img-cam-nhan {
	width: 100%;
	height: 250px;
	box-shadow: 0 0 5px #f382b7;
}
.name-khach-hang {
	text-align: center;
	font-family: 'UvfAphroditePro';
	font-size: 16px;
	color: #e75280;
	margin: 5% 0;
}
.nhan-xet-khach-hang {
	font-size: 14px;
	font-family: Arial;
	width: 100%;
	text-align: justify;
}

/*--------------------*/




/* misc */
hr {
  margin-top: 10px;
}

hr.bold {
  border-top: 3px solid #eee;
}

.divider-header {
	display: block;
	width: 40px;
	height: 2px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.divider-short {
	display: block;
	width: 60px;
	height: 5px;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}
.marginbot-60{margin-bottom:60px !important;}
.marginbot-70{margin-bottom:70px !important;}
.marginbot-80{margin-bottom:80px !important;}
.marginbot-90{margin-bottom:90px !important;}
.marginbot-100{margin-bottom:100px !important;}

.margintop-0{margin-top:0 !important;}
.margintop-10{margin-top:10px !important;}
.margintop-20{margin-top:20px !important;}
.margintop-30{margin-top:30px !important;}
.margintop-40{margin-top:40px !important;}
.margintop-45{margin-top:45px !important;}
.margintop-50{margin-top:50px !important;}


/* Carousel Styles */

.slider-index {
	position: relative;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 0;
}

.carousel-control.right span {
	padding: 0;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 30px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 30px;
}



.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.carousel-inner > .item {
  	margin: 0;
  	padding: 0;
  	width: 100%;
  	height: 470px;
  	margin-bottom: 50px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  /*height: auto;*/
  height: 100%;
  margin-left:0;
  padding-left: 0;
}

/* effect opacity slide */

.carousel-inner .item {
  left: 0 !important;
  -webkit-transition: opacity .6s; /*adjust timing here */
     -moz-transition: opacity .6s;
       -o-transition: opacity .6s;
          transition: opacity .6s;
}
.carousel-control { 
   background-image: none !important; 
   /* remove background gradients on controls */ 
}
/* Fade controls with items */
.carousel-inner .item.next.left,
.carousel-inner .item.prev.right {
    opacity: 1;
    z-index: 1;
}
.carousel-inner .item.active.left,
.carousel-inner .item.active.right {
    opacity: 0;
    z-index: 2;
}

/* effect opacity slide */


/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
	padding: 10px;
	color: #F359EC;
	text-transform: uppercase;
}

.header-text h3 span {
	color: #F359EC;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}


/*==========================
-----Form search on slider
=============================*/

#form-search-index{
	position: absolute;
	top: 42%;
	left: 0%;
	z-index: 10000;
}

@media (max-width: 980px) {
  	#form-search-index{
		width: 90% !important;
    	top: 18% !important;
    	left: 4% !important;
	}

	.header-text h2 span {
		font-size: 98% !important;
	}

	.img-logo{
		display: none;
	}

	h5.introduce-index{
		font-size: 150%;
	}
	h6.use-now{
		font-size: 130%;
	}

	.carousel-inner > .item {
	  height: 400px !important;
	}
	#menu-bar-bottom{
		margin: 5% auto 5% !important;
	}

	.colunm-index-left {
		margin-top: 2% !important;
		padding-left: 15px !important;
	}

	.navbar-nav { padding-left: 10%; }
	

}

@media (max-width: 800px) {

	.navbar-nav { padding-left: 1%; }
	.navbar-nav > li > a { font-size: 110% !important; }

  	#form-search-index{
  		width: 90% !important;
	    top: 14% !important;
	}

	.carousel-inner > .item {
	  /*height: 350px !important;*/
	}

	h5.introduce-index { font-size: 120%; }
	
}

@media (max-width: 768px) {
  	
	.xs-marginbot-20{
		margin-bottom: 5px !important;
	}

	/* menu
	--------------------------*/
	.navbar-header {
	    float: none;
	}
	.navbar-toggle {
	    display: block;
	}
	.navbar-collapse {
	    border-top: 1px solid transparent;
	    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
	    display: none!important;
	}
	.navbar-collapse.collapse.in {
	    display: block!important;
	}
	.navbar-nav {
	    float: none!important;
	    padding-left: 0 !important;
	}
	.navbar-nav>li {
	    float: none;
	}
	.navbar-nav>li>a {
	    padding-top: 10px !important;
	    padding-bottom: 10px !important;
	    text-align: left;
	}

	.navbar-nav .open .dropdown-menu {
	    position: static;
	    float: none;
	    width: auto;
	    margin-top: 0;
	    background-color: transparent;
	    border: 0;
	    box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
	    padding: 5px 15px 5px 25px;
	}
	.navbar-nav .open .dropdown-menu > li > a {
	    line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-nav .open .dropdown-menu > li > a:focus {
	    background-image: none;
	}
	.navbar-header {
		padding:0;
	}
	.navbar-header button {
		background: #E3E1E1;
	}
	
	.navbar-header button.navbar-toggle {
		margin-right: 5%;
		padding: 10px 15px;
		font-size: 14px;
		background-color: #EF4C9B;
	}
	.navbar-header button.navbar-toggle .icon-bar {
		display: block;
		border: 1px solid #fff;
	}
	/*------------------------*/

	
}

@media (max-width: 568px) {
	.carousel-inner > .item {
	  height: 300px !important;
	}
}


@media (max-width: 375px) {
  	#form-search-index{
  		width: 90% !important;
	    top: 14% !important;
	}

	.carousel-inner > .item {
	  height: 200px !important;
	}

}
@media (max-width: 667px) {
  	#form-search-index{
  		width: 90% !important;
	    top: 20% !important;
	}
}

@media (max-width: 414px) {
	#form-search-index{
  		width: 90% !important;
	    top: 12% !important;
	}

	.carousel-inner > .item {
	  height: 150px !important;
	}
}
@media (max-width: 736px) {
	#form-search-index{
  		width: 90% !important;
	    top: 20% !important;
	}

}

@media (max-width: 360px) {
  	#form-search-index{
  		width: 90% !important;
	    top: 14% !important;
	}

	#menu-bar-bottom > div > a > span{
		font-size: 90%;
	}
	h5.introduce-index{
		font-size: 110%;
	}
	h6.use-now{
		font-size: 110%;
	}

	.cam-nhan-title { font-size: 100% !important; }

	.title-ft-content{ font-size: 85% !important; }

	.tbl-nam-hung-nien{ font-size: 85% !important; }

	/* menu
	--------------------------*/
	.navbar-header button.navbar-toggle { margin-right: 10%; }
	.navbar-nav { padding-left: 5% !important; }
	/*------------------------*/


}

@media (max-width: 320px) {
  	#form-search-index{
  		width: 95% !important;
	    top: 20% !important;
	    left: 0% !important;
	}
}
@media (max-width: 240px) {
  	#form-search-index{
  		width: 95% !important;
	    top: 30% !important;
	}
}
@media (max-width: 320px) and (max-height: 240px) {
  	#form-search-index{
  		width: 95% !important;
	    top: 30% !important;
	}
}



/* ===========================
--- Footer
============================ */

.footer {
	text-align: center;
	padding: 2% 0 ;
	background-color: #f2f0ee;
}

.footer p {
	color: #707070;
	font-size: 14px;
}

/* menu */
.dropdown-header
{
	font-size: 17px;
	color: black;
}
ul.footer-menu {
	list-style: none;
}

ul.footer-menu li {
	float: left;
	margin: 0 0 0 10px;

}

ul.footer-menu li a {
	color: #fff;
	font-size: 16px;
	border-left: 1px solid #999;
	padding-left: 9px;
	line-height: 1.1em;
}

ul.footer-menu li:first-child a {
	border-left: none;
	padding-left: 0;
}

.social-widget {
	margin-top: 20px;
	margin-bottom: 30px;
}
.social-widget ul li a:hover {
	color: #fff;
}

footer .social-widget ul.team-social li a {
	margin: 0 5px;
}

/* === testimonial slide === */
.testimonialslide {
	margin-top:0;
	padding-top: 0;
}

.testimonialslide ul li blockquote {
	color: #fff;
	border-left: none;
}

.testimonialslide ul li h4 {
	color: #fff;
	font-weight: 900;
}
.testimonialslide ul li h4 span {
	color: #fff;
	font-weight: 400;
}


/* --- button --- */
.btn {
	border-radius: 2px;
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;	
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 14px;
}

.btn.btn-noradius {
	border-radius: 0;
}

a.btn:focus{
	outline: 0;
}

.btn-red {
  color: #fff;
  background-color: #c83539;
  border-color: #c83539;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}
.btn-red:active {
  background-image: none;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

/* --- progress --- */
.progress {
  height: 40px;

}
.progress-bar {
  font-size: 14px;
  line-height: 40px;
}

/* Media queries */

@media(min-width:767px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
	

    .brand-heading {
        font-size: 100px;
    }
	

    .intro-text {
        font-size: 25px;
    }


}
@media (max-width:768px) {
	#navigation {
		padding: 20px 0;
	}
	.site-logo{
		margin: 0 0 0 30px;
		float:none;
	}
	.navbar-custom ul.nav li a {
		color: #444444;
	}
	.navbar-custom ul.nav ul.dropdown-menu li {
		border-bottom: 1px solid #aaa;

	}
	
	.navbar-custom .nav {
		background: #444;
	}
	
	.service-box {
		margin-bottom: 50px;
	}
	
	.team-wrap {
		margin-bottom: 30px;
	}
	
	form.form-homepage {
		margin-bottom: 50px;
	}
	
	.xs-marginbot-20 {
		margin-bottom: 20px;
	}

}

@media (max-width:480px) {

	.navbar-custom .nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
	}
	
	.navbar.navbar-custom.navbar-fixed-top {
		margin-bottom: 30px;
	}
}
#form-search button{
	margin-top: 20px;
}
#form-search ul.dropdown-menu{
	min-width: 100%;
	clear: both;
}


/*--- list-vendor ---*/
.top-list-vendor-function a{
	color: #2a6496;
	font-weight: bold;
}
.top-list-vendor-function a:hover{
	color: #E9539C;
}
.top-list-vendor-function button{
	width: 100px;
	height: 45px;
	color: #2a6496;
	font-weight: bold;
	padding: 3px;
	border: none;
}
.top-list-vendor-function button:hover{
	color: #E9539C;
	background: #ccc;
	border: none;
}


.list_vendor_avatar{
	width: 320px !important;
	height: 100px !important;
}

.caption {
    height: 70px;
    overflow: hidden;
}
.caption-list {
    height: auto;
    overflow: hidden;
}
.caption p{
    margin: 5px 0px 0px 0px;
}
.caption h6 {
    white-space: nowrap;
    color: #2A6496;
}
.caption>.name{
	text-align: justify;
	color: #19B5BC;
	font-size: 20px;
}
.caption>.name a{
	color: #19B5BC;
}
.caption>.website{
	text-align: justify;
	color: #19B5BC;
}

.thumbnail a img {
    width: 100%;
    height: 200px;
}
.category-name{
	text-transform: uppercase;
	color: #FFFFFF;
	background: #AAAAAA;
	text-align: center;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}
.thumbnail {
	border: 1px solid #3cb6bc;
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.compare-photo{
	background-color: #edb97b;
    border: 1px solid #3cb6bc;
    border-radius: 6px;
    padding: 5px 0 0 10px;
    margin: 0% 0% 2% 53%;
    width: 45%;
}
.compare-title{
	text-transform: uppercase;
}

/*-----*/
#show-list{
	border: 1px solid #3cb6bc;
	border-radius: 5px;
	padding: 10px 10px 10px 0px;
	margin: 0px 0px 20px 0px; 
}
.list-avatar a img{
	height: 200px;
	width: 100%;
}
.list-category-name{
	text-transform: uppercase;
	color: #FFFFFF;
	background: #AAAAAA;
	text-align: center;
}
.compare-list{
    background-color: #edb97b;
    border: 1px solid #3cb6bc;
    border-radius: 6px;
    padding: 1% 0 0 1%;
    margin-left: 80%;
    width: 20%;
}

label.error{
	color: #000;
}



/*--Details-vendor*/

.body-detailvendor
{
	margin-top: 30px;
}

#vendor-menu{
	
	border-radius: 8px;
}

.contact-me
{
	margin-left: 20px;

}

#check-call .row .checkbox label
{
display: block;
}
#check-call
{
	margin-left:-50px;
}
.boder-style{
	border-left: 2px dashed white;
}
#right-contact
{

	border: 1px solid #ddd;
	border-bottom: none;
	border-top: none;
	border-right: none;
	border-left: none;
}
#body-left
{
	border: 1px solid #ddd;
	border-left: none;
	border-bottom: none;
	border-top: none;
	
}

#top-left
{
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	border-top: none;
}
#content-photo
{
	margin-top: 20px;
}

#content-vendor
{
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 20px;
}

#content-video
{
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-bottom: 20px;
}
#content-photo
{
	margin-bottom: 20px;
}

#video
{
	margin-bottom: 20px;
}

#review
{
	margin-bottom: 20px;
}
#FAQ
{
	margin-bottom: 20px;
}

#map
{
	margin-bottom: 20px;
}
.tab-content
{
	margin-top: 20px;
}
/*--slide*/

#bigPic{		
	
	margin-bottom:10px;
}

#bigPic img{
	
	display:none;
}
#thumbs{
	margin-left: 2%;
}
ul#thumbs li.active{
	border:2px solid #000;	
	background:#fff;
	padding:2px;
}
ul#thumbs, ul#thumbs li{	
	padding:0;
	list-style:none;
}
	
ul#thumbs li{
	float:left;	
	margin-bottom:1.2%;
	border:1px solid #CCC;	
	padding:3px;
	cursor:pointer;
	list-style:none;
}
ul#thumbs img{
	float:left;	
	line-height:80px;
	overflow:hidden;
	position:relative;
	z-index:1;		
}




#thumbs-main
{
	margin:0;
	padding:0;
	list-style:none;

}

ul#thumbs-main li{
	float:left;
	margin-bottom:1.2%;
	border:1px solid #CCC;	
	padding:3px;
	cursor:pointer;
	list-style:none;
	position: relative;
}
/*- comment in detail vendor -*/
div.vendor_comment{
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin: 10px 0px;
	display: inline-block;
}
div.vendor_avatar{
	width: 48px;
	height: 48px;
	float: left;
	margin: 0px 20px 0px 0px;
}
div.vendor_avatar img{
	width: 48px;
	height: 48px;
}
div.vendor_content{
	margin: 0px 0px 0px 5px;
}
div.vendor_content input{
	margin: 0px 0px 10px;
	width: 90%;
	height: 50px;
}
div.vendor_content button{
	margin: 0px 0px 10px 63px;
}


/**
*Main
*
**/
.user-header{
	background-color: #ffffff;
    min-height: 180px;
    /*padding-top: 5px;*/
    padding-bottom: 5px;
    /*box-shadow: 0 3px #d5e7fa;*/
}
.to-top {
	height: 35px;
	padding: 5px 15px !important;
	background-color: #b4b4b4;
}
.fb-like{
	color: #fff;
	margin: 2px 0 0 0;
    /*z-index: 99999;*/
}

/**
| logo
|*/
.top-logo {
	height: 80px;
	padding: 10px 0;
	text-align: center;
}
/* end logo */

.top-menu {
	min-height: 50px;
	/*padding: 10px 0;*/
	border: 1px solid #b4b4b4;
}

.btn-action-user { text-align: right; }
.ul-login-register {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.ul-login-register li{
	float: left;
    border-right: 2px solid #FFFFFF;
    padding: 0 10px;
}
.ul-login-register li:last-child { border-right: none; }
.ul-login-register li a{
	color: #FFFFFF !important;
	font-size: 14px;
	font-weight: bold;
}
.ul-login-register li a:hover { color: #EF4C9B !important; }


#form-search button{
	margin-top: 20px;
}
#form-search ul.dropdown-menu{
	min-width: 100%;
	clear: both;
}
.oneUl {
	width: 270%;
	text-align: left;
}
.oneUl a { color: #c1bfbf !important; }
.oneUl a:hover { color: #EA4398 !important; }



.user-checklist{ margin-top: 30px; }
.notice-checklist{
	margin-top: 30px;
	margin-bottom: 20px;
}
.month{

}
.month li{
	list-style: none;
}
.month li a{
	display: block;
		float:right;
	margin-right: 5px;
}
/*Start - thuy*/
.icon-button{
	margin-left: 100px;
}
.link-img{
	text-align: right;
}
.img-vendor{
	padding: 3px;
}
.img-icon{
	width: 15px; 
	height: 15px;
}
#compare {
	text-align: center;
	background-color: #f7dde7;
}
#compare td{
	width: 160px;
	float: left;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 0px;
	min-height: 38px;
}
#compare th{
	width: 160px;
	float: left;	
	text-align: right;
	border-top: 0px;
}
.button-contact{
	padding-top: 10px;
	padding-bottom: 20px;
}
.icon-ok{
	margin-bottom: 20px;
	margin-top: 10px;
	color: #ff924c;
}
.heart{
	color: #f48277;
	margin-right: 7px;
}
.align{
	text-align: left;
}
.center-align{
	text-align: center;
}
/*user login*/
#user_login{
	background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px;
    margin: 50px auto 85px;
    max-width: 300px;
    padding: 20px 29px 29px;
}

.form-register-index {
	background-color: #f2f0ee;
    margin-top: 35px;
    max-height: 450px;
    min-height: 250px;
    padding: 0;
    position: absolute;
    right: 10%;
    top: 0;
    z-index: 10;
}
.user_register_title {
	background-color: #f2f0ee;
    color: #333333;
    padding: 2%;
    margin-top: 15px;
    padding-bottom: 5%;
    text-align: center;
    margin-bottom: 0;
    height: 12%;
}

.frm-register {
	padding: 0 5%;
	background-color: #f2f0ee;
	height: 88%;
	position: relative;
}
.frm-register .form-group {
	margin-bottom: 10px;
}
.frm-register .error { font-size: 13px; }

.frm-register input {
	height: 35px;
}

.btn-register {
	float: left;
	display: inline-block;
	margin-bottom: 20px;
	background-color: #e92d91; 
	border: 1px solid #e92d91
}
.btn-register:hover { color: #FFFFFF; background-color: #CC1071; }
.bn-login-fb-index {
	width: 66%;
	float: right;
	display: inline-block;
	margin-bottom: 20px;
}

/* all */
::-webkit-input-placeholder { font-size: 14px; padding-top: 4px;}
:-moz-placeholder { font-size: 14px; padding-top: 4px;} /* firefox 19+ */
:-ms-input-placeholder { font-size: 14px; padding-top: 4px;} /* ie */
input:-moz-placeholder { font-size: 14px; padding-top: 4px;}


/***** BUTGET *****/
.creat_budget{
	min-height: 380px;
}

.clr{clear: both;}

.table-budget{
	width: 100%;
	margin: 10px 0px 20px 0px;
	border-collapse:collapse;
}
.table-budget-thead-fixed{
	width: 945px;
	display: none;
	position: fixed;
	top: 0px;
	z-index: 99999;
}
.table-budget-thead-fixed th{

}

.table-budget tr{
	line-height: 40px;
}
.table-budget tr td{
	padding: 0px 0px 0px 10px;
}
.table-budget th{
	background: #555555;
	color: #fff;
	text-align: left;
	padding: 5px;
}
.table-budget tr:hover > td a.budget_icon_trash{
	display: inline-block;
}
.table-budget tr:hover > td a.budget_icon_note{
	display: inline-block;
	color: #ff9022;
}
.table-budget tr.budget_item_cat{
	color: #19b5bc;
}
.table-budget tr.budget_cat{
	background-color: #fff6ee;
	border-top:1px solid #ccc;
}

i#budget_category_icon{
	color: #19b5bc;
}
a.budget_icon_trash{
	display: none;
}
a.budget_icon_note{
	display: none;
}
/*thuy*/
.input-edit-money{
	width: 120px;
	text-align: right;
	display: none;
}
a.budget_icon_notes{
	display: inline-block;
	color: #ff9022;
}

#budget_summary{
	background: #f2f0ee;
	margin-bottom: 20px;
	padding: 15px;
	text-align: right;
}
#budget_summary div, #budget_summary h3{text-align: left;}
.TienVND{text-align: left; !important;}
.budget_vendor{
	margin: 10px 0px 10px 0px;
}

/* compare--------giang */
#compare_main{
	background: #f7dde7;
}
.compare_title{
	width:120px; height: 600px; margin-right: 2px; float: left;
	margin: 10px 0px 0px 0px;
	z-index: 1;
}
.compare_vendor{
	width: 194px; height: 600px; margin-right: 2px; float:left;
	margin: 0px 0px 0px 0px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	position: relative;
}
.compare_tr1{
	width:100%; height: 250px; background: #f7dde7;
	text-align: right;
}
.compare_tr2{
	width:100%; height: 60px; background: #f6cddd;
	text-align: right;
}
.compare_tr3{
	width:100%; height: 35px; background: #f7dde7;
	text-align: right;
}
.compare_tr4{
	width:100%; height: 35px; background: #f6cddd;
	text-align: right;
}
.compare_tr5{
	width:100%; height: 35px; background: #f7dde7;
	text-align: right;
}
.compare_tr6{
	width:100%; height: 145px; background: #f6cddd;
	text-align: right;
}
.compare_tr_content{
	margin-right: 5px; padding-top:5px;
}

.compare_tr22{
	width:100%; height: 60px; background: #f6cddd;
	text-align: center;
}
.compare_tr32{
	width:100%; height: 35px; background: #f7dde7;
	text-align: center;
}
.compare_tr42{
	width:100%; height: 27.5px; background: #f6cddd;
	
}
.compare_tr42 img
{
	margin-left: 25%;
	margin-top: 4%;
}
.compare_tr52{
	width:100%; height: 35px; background: #f7dde7;
	text-align: center;
}
.compare_tr62{
	width:100%; height: 145px; background: #f6cddd;
	text-align: center;
}


.compare_vendor_show1{
	width: 194px; height: 600px; margin-right: 2px; float:left;
	margin: 0px 0px 0px 0px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	position: absolute;
	z-index: 100;
	left: 135px;
}
.compare_vendor_show2{
	width: 194px; height: 600px; margin-right: 2px; float:left;
	margin: 0px 0px 0px 0px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	position: absolute;
	z-index: 100;
	left: 329px;
}
.compare_vendor_show3{
	width: 194px; height: 600px; margin-right: 2px; float:left;
	margin: 0px 0px 0px 0px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	position: absolute;
	z-index: 100;
	left: 523px;
}
.compare_vendor_show4{
	width: 194px; height: 600px; margin-right: 2px; float:left;
	margin: 0px 0px 0px 0px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	position: absolute;
	z-index: 100;
	left: 717px;
}
.compare_vendor_show5{
	width: 194px; height: 600px; margin-right: 2px; float:left;
	margin: 0px 0px 0px 0px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	position: absolute;
	z-index: 100;
	left: 911px;
}


.btn_del_vendor_compare{
	width: 170px;
	height: 40px;
	text-align: right;
	margin: 10px 0px -6px 14px;
}
.compare_add_vendor{
	width: 170px;
	height: 160px;
	border: 1px solid #ccc;
	text-align: center;
	padding: 65px 0px 0px 0px;
	border-radius: 5px;
	margin: 0px 0px 0px 14px;
}
.compare_vendor_img-name{
	width:100%; height: 250px; background: #f7dde7;
	text-align: center;
} /* .compare_vendor_show1 # height */

.compare_add_vendor_show{
	width: 170px;
	height: 150px;
	border: 1px solid #ccc;
	text-align: center;
	padding: 0px 0px 0px 0px;
	border-radius: 5px;
	margin: 0px 0px 0px 14px;
}
.compare_add_vendor_show a img{
	width: 100%;
	height: 100%;
}

#list-vendor-photo{
	width: 120px;
	margin: 0px 15px 0px 0px;
}

#list-vendor-list{
	width: 170px;
	margin: 0px 13px 0px 0px;
}


#vendor_view_more_photo, #vendor_view_more_list{
	display: none;
}

.vendor-img-loading{
	position: fixed;
	top: 90%;
	left: 57%;
	z-index: 100;
	background-color: #DEDEDE;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 17px;
	color: #1366CB;
	display: none;
}

/* checklist */
.checklist-statis-formonth{
	padding: 10px;
	background: #555555;
	color: #fff;
}
.checklist-statis-formonth span{
	padding: 5px;
	margin: 5px 110px 0px 0px;
	font-weight: bold;
}

.checklist-statis-formonth-hide{
	width: 70%;
	padding: 10px;
	background: #555555;
	color: #fff;
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
}
.checklist-statis-formonth-hide span{
	padding: 5px;
	margin: 5px 110px 0px 0px;
	font-weight: bold;
}
/*style nut back top*/
#back-top{
	width: 70px;
	height: 50px;

}

#go_top{
	z-index: 9999;
	border-radius: 10px;
    display:none;
    width: 60px;
    position:fixed;
    bottom:50px;
    right:15px;
    background-color: #F382B7;
  	border-color: #F382B7;
}
.btn-top:hover,
.btn-top:focus,
.btn-top:active,
.btn-top.active {
  z-index: 9999;
  color: #fff;
  background-color: #666;
  border-color:#777 ;
}

/*============= SONGS ==============*/

div.song_comment{
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin: 10px 0px;
	display: inline-block;
}
div.song_avatar{
	width: 48px;
	height: 48px;
	float: left;
	margin: 0px 20px 0px 0px;
}
div.song_avatar img{
	width: 48px;
	height: 48px;
}
div.song_content{
	margin: 0px 0px 0px 5px;
}
div.song_content input{
	margin: 0px 0px 10px;
	width: 90%;
	height: 50px;
}
div.song_content button{
	margin: 0px 0px 10px 63px;
}

.table-song{
	width: 100%;
	margin: 10px 0px 20px 0px;
}
.table-song th{
	padding: 10px;
	color: #6d849f;
	background-color: #FFFFFF;
	border: none;
}
.table-song th.last{
	text-align: right;
}

.table-song tbody{
	background-color: #ecf4f8;
	border: 1px solid #a6b1ca;
	overflow: auto;
}
.table-song td{
	padding: 10px;
	margin: 10px 0px;
}
.table-song td.last{
	text-align: right;
	color: #51b5c4;
}

.song-menu-right {
	background-color: #ecf4f8;
	border-radius: 5px;
	box-shadow: 0 5px #b9cdd8;
	margin-bottom: 2%;
}
.song-record-title {
	background-color: #49a6fa;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    height: 35px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    border-bottom: 5px solid #b9cdd8;
}
.song-record-item {
	font-size: 17px;
	margin: 8px 0;
}



/******Guest-list*****/
.clr{clear: both;}

.table-guest{
	width: 100%;
	margin: 10px 0px 20px 0px;
	border-collapse:collapse;
	
}
.table-guest-thead-fixed{
	width: 970px;
	display: none;
	position: fixed;
	top: 0px;
	z-index: 99999;
}
.table-guest-thead-fixed th{

	
}


.table-guest tr{
	line-height: 40px;
	
}
.table-guest tr td{
	padding: 0px 0px 0px 10px;
	text-align: center;
	
}
.table-guest th{
	background: #555555;
	color: #fff;
	text-align: center;
	padding: 5px;

}
.table-guest tr.guest_cat:hover > td a.icon-delete-group
{
	display: inline-block;
}
.table-guest tr.guest_cat:hover > td a.icon-edit-group
{
	display: inline-block;
}


.table-guest tr:hover > td a.guest_list_icon_trash{
	display: inline-block;
}

.table-guest tr.guest_list_cat{
	color: #19b5bc;
}
.table-guest tr.guest_cat{
	background-color: #fff6ee;
	border-top:1px solid #ccc;
}

a.icon-delete-group
{
	display: none;
}
a.icon-edit-group
{
	display: none;
}
a.guest_list_icon_trash{
	display: none;
}
 .invited1
{
	background-color:#3B5998;
	height:30px;width:70px;
	color: white;
	text-align: center;
	padding: 0px; !important
}
.invited2
{
	background-color:#B5B2AF;height:30px;width:70px;color: white;
	text-align: center;
	padding: 1px;
}
/*thuy*/
.input-edit-guest{
	width: 120px;
	text-align: right;
	display: none;
}
.span-id-guest, .span-id-guest:hover{
	color: red;
	cursor: pointer;
	font-weight: bold;

	
}

#guest_summary{
	background: #f2f0ee;
	margin-bottom: 20px;
	padding: 15px;
	text-align: right;
}
#guest_summary div, #guest_summary h3{text-align: left;}

.guest_vendor{
	margin: 10px 0px 10px 0px;
}
/*canh giữa cho modal delete Group*/
.algin-delete{
	text-align: center;
}


/***** index tool *****/
#index-tool{
	border: 1px solid #ffc790;
	background-color: #fff8f2;
	margin: 20px 5px 10px 5px;
}
.tool-1{
	padding: 5px;
	margin: 20px 0px 10px 0px;
	text-align: center;
}
/*cua 4 cam xoa*/
.budget-column-icon{
	background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.images_li{
	background-position: 9px,center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	cursor: pointer;
	line-height: 32px;
	padding-left: 41px;
}


.warning{
	display: none;
}


/********Rating*********/
.rating { display:inline-block; padding:0px; }
.rating div { display:inline-block; width:20px; height:20px; margin:0px; background-image: url('../../images/star-rating/empty-star.jpg');}

.selected { background-image: url('../../images/star-rating/full-star.jpg') !important; }
.highlighted { background-image: url('../../images/star-rating/full-star.jpg') !important; }
.star-avg-rating
{
	margin-left: 175px;
	margin-top: -20px;
}


/**
* Website user
*
**/

/* view dashboard */
.website_dashboard_left{
	background-color: #F7F5F3;
	border: 1px solid #ddd;
	margin: 0 20px 0 0;
}
.website_dashboard_left_top{
	margin: 20px 0;
}
.img_website{
	width: 100%;
}
.website_tabs{
	width: 100%;
	border: 1px solid #ccc;
}
tr.odd{
	border: 1px solid #ccc;
	background-color: #fff;
}
tr.odd td{
	padding: 5px;
}
tr.even{
	border: 1px solid #ccc;
	background-color: #FFF8F2;
}
tr.even td{
	padding: 5px;
}

/* view design */

.design_website_heading{
	height: 50px;
	
	padding: 10px 10px 55px 40px;
	margin: 0;
	background-color: #19B5BC;
}
.thuna{
	color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}
.thuna2{
	color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.design_website_content_left_hide{
	border: 1px solid #ddd;
	background-color: #F7F5F3;
	float: left;
	text-align: right;
	display: none;
}

.design_website_content_left{
	height: 600px;
	border: 1px solid #ddd;
	background-color: #F7F5F3;
	float: left;
	position: relative;
}
.design_website_content_right{
	height: 600px;
	padding-right: 3px !important;
	padding-left: 0px !important;
	margin: 0;
	
	/*right: 15px;*/
	overflow-y: auto;
	overflow-x: hidden;
}

#page_design_home{
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #FFFFFF;
}

.page_design_home_item{
	padding: 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.page_design_home_item img{
	width: 100%;
	border-radius: 3px;
}
.span_design_item{
	margin-top: 10px;
}
.select_design1{
	width: 150px;
	border-radius:3px; 
	padding: 5px;
	margin: 5px 3px 0 25px;
}
.select_design2{
	border-radius: 3px;
    margin: 5px 3px 0 11px;
    padding: 5px;
    width: 150px;
}

.bodyScroll{
	overflow-x: hidden;
}

.website_tabs_input{
	text-align: center;
	border-radius: 3px;
}
.minus-plus{
	width: 100%;
	text-align: right;
	clear: both;
}

/* modal add section */
.add_section_item{
	background-color: #19B5BC;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 20px 0px 20px 22px;
    cursor: pointer;
}
.add_section_item_visiable{
	background-color: #CCCCCC;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 20px 0px 20px 22px;
}



/* .view design */
/**modal upload image**/
.upload-image-tab
{
	border: dashed 2px #ddd;
	padding: 10px;
}
.tab-image
{
	border: solid 2px #ddd;
	background-color: #F7F5F3;
}

#input_image_modal
{
	display: none;
}
#input_image
{
	display: none;
}
#chose_image_background
{
	font-weight: bold ;
	font-style: italic;
	
	
}
#chose_image
{
	font-weight: bold ;
	font-style: italic;
	
	
}
#image-preview-website
{
	width: 200px;
}
#image-preview
{
	width: 200px;
}
#image-preview_album
{
	width: 200px;
}

/***************/
#divContentHTML{
	display: none;
	z-index: 99999;
	position: fixed;
}

.popover{
	min-width: 300px;;
}
.page-edit{
	padding: 0px;
}

@media (max-width: 768px) {
  .btn-responsive {
    /*padding:2px 4px;*/
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    /*padding:4px 9px;*/
    font-size:90%;
    line-height: 1.2;
  }
}

/**
*view choose template
*
**/
.choose_temp{
	margin: 0px 0px 50px 0px;
	background-color: #F7F5F3;
	border: 1px solid #ddd;
}
.span_choose_tmp{
	text-align: center;
	display: inline;
}
.span_choose_tmp img{
	width: 100%;
	height: 300px;
	margin: 20px 0px;
}
.gird_ablum{
	display: none;
}
.delete_images{
	display: none; 
}
.delete_images button{
	margin-top: 30px;
}
.padding_album{
	padding: 1px;
}
.url{
	background-color: white;
}
.change_url{
	
	
}
.header_url{
	padding-left: 10px;
	font-size: 20px;
}
.share_url{
	padding-right: 10px;
	float: right;
	
}
.edit_url{
	margin-top: 25px;
	padding-left: 10px;
}
.url_link{
	margin-top: 10px;
	padding-left: 10px;
	overflow: hidden;
    text-overflow: ellipsis;
}


/*--facebook comment--*/
	.fb_iframe_widget,
	.fb_iframe_widget span,
	.fb_iframe_widget span iframe[style] {
	  min-width: 100% !important;
	  width: 100% !important;
	}
/*-------------------*/	


/*Alert**********/
.sweet-alert {
	
	border: 1px solid;
	
}
@media only screen  and (max-device-width: 200px) {
   iframe{
   	width:100px;
   	height: 50px;
    }
    
}
@media only screen and (min-device-width: 201px) and (max-device-width: 250px) {
   iframe{
   	width:150px;
   	height: 100px;
    } 
  
}
@media only screen and (min-device-width: 251px) and (max-device-width: 300px) {
   iframe{
   	width:200px;
   	height: 150px;
    } 
    
}
@media only screen and (min-device-width: 301px) and (max-device-width: 350px) {
   iframe{
   	width:250px;
   	height: 200px;
    } 
     
}
@media only screen and (min-device-width: 351px) and (max-device-width: 400px) {
   iframe{
   	width:300px;
   	height: 200px;
    } 
    
}
@media only screen and (min-device-width: 401px) and (max-device-width: 450px) {
   iframe{
   	width:350px;
   	height: 200px;
    } 
   
}
@media only screen and (min-device-width: 451px) and (max-device-width: 500px) {
   iframe{
   	width:400px;
   	height: 250px;
    } 
   
}
@media only screen and (min-device-width: 501px) and (max-device-width: 550px) {
   iframe{
   	width:450px;
   	height: 250px;
    } 
     
}
@media only screen and (min-device-width: 551px) and (max-device-width: 600px) {
   iframe{
   	width:500px;
   	height: 250px;
    } 
    
}
@media only screen and (min-device-width: 601px) and (max-device-width: 650px) {
   iframe{
   	width:550px;
   	height: 300px;
   } 
    
}
@media only screen and (min-device-width: 750px) and (max-device-width: 1000px) {
   iframe{
   	width:450px;
   	height: 300px;
   } 
    
}
/*css footer*/
.menu-footer ul{
	list-style-type: none;
	display: block;
	padding: 0 20px;
	margin: 0 15px;
	text-align: left;
}
.menu-footer ul li a{
	font-size: 13px;
	color: black;
	font-weight: bold;

}
.menu-footer ul li a:hover{
	color: #e75280;
}
.infor-company{
	font-size: 11px;
	text-align: left;
	padding: 0 20px;
	margin: 15px 0px 0px 15px;
}
.contact-admin{
	font-size: 11px;
	color: black;
	font-weight: bold;
}
a.contact-admin:hover{
	color: #e75280;
}
.thuna-title{
	font-size: 11px;
	color: black;
	font-weight: bold;
}
.thuna-title:hover{
	color: #e75280;
}
.site-author{
	margin-top: 15px;
	font-weight: bold;
	font-size: 12px;
}
.connect-thuna{
	margin-top: -10px;
}
/*noi dung footer*/
.main-content-footer{
	margin-top: 0px;
	background: white;

}
.box-menu{
	border: 1px solid #dcdbd9;
	margin-left: 30px;
}
.menu-content-footer{
	background: none repeat scroll 0 0 transparent;
	
}
.menu-content-footer ul{
	list-style-type: none;
	padding: 0px;
	padding-left: 70px;
}
.menu-content-footer ul li{
	text-align: left;
	line-height: 30px;
}
.menu-content-footer ul li a{
	content: "●";
	color: #363636;
}
.menu-content-footer ul li a:before{
	content: "●";
	color: #23CDCF;
}
.menu-content-footer ul li a:hover{
	color: #23CDCF;
}

.you-know{
	border-bottom: 1px solid #dcdbd9;
	line-height: 30px;
	color: #E75280;
	font-size: 16px;
	height: 50px;
	padding-top: 20px;
}
.content-footer{
	border-top: 1px solid #dcdbd9;
	margin-left: 15px;
	padding: 0px;

}
.title-content-footer{
	background: url('../img/title-content-footer.png');
	height: 45px;
	padding-top: 15px;
	font-family: "Courgette",cursive;
	font-size: 18px;

}
.active-a{
	color: #E75280 !important;
	font-weight: bold;
}
.active-a:before{
	color: #E75280 !important;
}
.para-content{
	padding-top: 30px;
	text-align: center;
}
.margin-footer{
	min-height: 370px;
}


/**
* fortune
*/

.txt-bold{
	font-weight: bold;
}
.txt-bold-italic{
	font-weight: bold;
	font-style: italic;
}
.start-red{
	color: red;
}

.ft-title{
	text-align: center;

}
.ft-title > p{
	text-align: justify;
	font-size: 15px;
}

.lb-input-year {
	font-size: 17px;
	text-align: left;
}
.ft-content{
	min-height: 250px;
	border-top: 2px dotted #E5DBB8;
	border-bottom: 2px dotted #E5DBB8;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2% 0%;
}

.title-ft-content{
	text-align: left;
	font-size: 15px;
	padding: 5px 0px;
}

.tbl-nam-hung-nien th { text-align: center; background-color: #F495C1; }

.tbl-nam-hung-nien-a { color: #666; }

.lich-ket-qua{
	min-height: 100px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-top: 2%;
	/*display: none;*/
}
.ngay-hien-tai{
	height: 30px;
	font-style: 20px;
	color: #13A547;
	text-transform: uppercase;
	/*border-bottom: 1px solid #ddd;*/
	padding: 5px;
	font-weight: bold;
	text-align: center;
}
.current-day, .current-month, .current-year{
	color: #0057DC !important;
}

#frmViewMMYY {
	text-align: center;
	margin: 2% 0;
}

#frmViewMMYY > select, #frmViewMMYY > input {
	padding: 3px 10px;
	border: 1px solid #B5CEE4;
	border-radius: 5px;
}

#frmViewMMYY > input {
	background-color: #ED9C28;
	color: #FFFFFF;
	font-weight: bold;
}


/* end fortune */

/*title and button edit in inline*/
 .inline-title{
 	margin-bottom: 1.5%;
 }
 .inline-title h3 {
 	display: inline !important;
 }
 .inline-title span{
 	font-size: 20px;
 	color: #428bca;
 }
.inline-title span:hover{
	cursor: pointer;
	color: #EF8DB7;
 }
 .btn-add-title, .btn-config{
 	font-size: 20px!important;
 }
 .btn-add-title:hover{
 	cursor: pointer !important;
 	color: #EF8DB7 !important;
 }
 .btn-config:hover{
 	cursor: pointer !important;
 	color: #EF8DB7 !important;
 }
/*end title and button edit in inline*/
/*css button setting in edit page*/
.setting-edit >li >a{
	color: #428bca !important;
}
.setting-edit >li >a:hover{
	color: #E75292!important;
}
/*end*/
/*css modal update infor*/
#edit-infor-bride h4,#change-bg-edit h4{
	color: #E75292;
}
#edit-infor-bride label{
	color: #428bca;
	font-weight: normal;
}
.icon-infor a{
	color: #428bca;
	font-size:20px;
}
.icon-infor a:hover{
	color: #E75292;
}
.remove-border{
	border-top: none;
}
#edit-infor-groom h4, #change-url-user h4{
	color: #E75292;
}
#edit-infor-groom label{
	color: #428bca;
	font-weight: normal;
}
 /*css album*/
 .body-album{
 	min-height: 300px;
 }
 .grid-album{

 }
 .upload-album{
 	display: none;
 }
 .padding-images{
	padding: 3px 3px 3px 3px;
}
.padding-images span{
	float: right;
	color:red; 
}
.padding-images span :hover{
	cursor: pointer;
}
#album-photo-user h4{
	color: #E75292;
}
#upload-my-album{
	min-height: 258px!important;
	width: 80% !important;
	margin: 0 10%!important;
}
.btn-my-photo{
	display: none;
}
/*modal change url*/
.in-url{
	margin-top: 1%;
}
.in-url a{
	font-size: 16px;
	color: #428bca;
}
.in-url a:hover{
	color: #E75292;
}
.modal{
	margin-top: 2% !important;
}
.infor-check-url{
	margin-top: 2%;
}
/*css for button up image themes select*/
.btn-pre{
	padding-left: 1%;
	display: none;
	position: absolute;
	 bottom:6%;
	 left: 29%;
	 width: 20%;
	 text-transform: none;
	 background-color: #E75292!important;
	 color:white;
	 letter-spacing: 0;
}
.btn-select{
	display: none;
	position: absolute;
	 bottom:6%;
	 right: 29%;
	 width: 20%;
	 text-transform: none;
	 background-color: #E75292!important;
	 color:white;
	 letter-spacing: 0;
}
.hover-theme:hover .btn-pre{
	display: block;
}
.hover-theme:hover .btn-select{
	display: block;
}



