
a:hover{text-decoration: none;}
a:visited{text-decoration: none;}
a:link{text-decoration: none;}
a:focus{text-decoration: none;}

body.home-page{
	background: #E38AAE;
	font-family: Noto Serif, Helvetica Neue,Helvetica,Arial,sans-serif;
}
.wrapper{
	margin-top: 10px;
	background: url('http://localhost/couple-site/public/assets/img/bg.jpg');
}
/* ---Header--- */
ul.nav{
	font-family: Noto Serif;
	margin-top: 55px;
}
ul.nav li.dropdown:last-child ul.dropdown-menu{
	left: -180%;
}

ul.nav li.dropdown a.dropdown-toggle{
	text-transform: uppercase;
	padding-right: 25px;
	color: #E75280;
	font-weight: bold;
	background: none;
}
ul.nav li.open a.dropdown-toggle{
	color: #7f8c8d;
	background: #F48BB8;
}
ul.nav li.dropdown a.dropdown-toggle:hover{
	color: #fff;

}
ul.nav ul.nav-submenu{
	width: 300%;
	
}
ul.nav ul.nav-submenu li.dropdown-header{
	font-size: 18px;
}
ul.nav ul.nav-submenu li.dropdown-header span{
	display: block;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 10px;
}
/*Content*/
section{
	position: relative;
}
.search-main{
		position: absolute;
		top: 7%;
		left: 15%;
		z-index: 20;
}
.search-form{
	padding: 25px;
	background-color: rgba(255, 254, 255, 0.5);
}
.search-form input{
	border-radius: 0px;
}
.search-form button{
	border-radius: 0px;
	background: #F48BB8;
	color: #FFFFFF;
}
.search-form input.input-text{
	display: block;
	cursor:pointer;

}
.search-form div.dropdown ul.dropdown-menu{
	width: 230%;
	position: absolute;
	left: 5%;
	padding-left: 20px;
	font-size: 20px;

}
div#menu ul.list-unstyled span{
	display: block;
	padding: 5px;
	cursor: pointer;
}
div#menu ul.list-unstyled span:hover{
	color: #3399FF;
}
.form-title h2{
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 70px;
	margin-bottom: 0px;
}
.form-title p{
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 0px;
}
.content{
	margin-top: 20px;
}
.content img,.content p{
	margin-left: 30px;
}
/*List title*/
.list-content .list-title h3{
	display: inline;
	margin-right: 10px;
}
.list-content .list-title button{
	margin-top: -2%;
}
/*Footer*/
footer{
	margin-top: 50px;
	margin-bottom: 10px;
	background: #FBE5EC;
	padding: 10px 10px;
}
footer ul li{
	margin-top: 5px;
	float: left;
	overflow: hidden;
}
.content-contact{
	clear: both;
	margin-left: 10px;
}
footer ul li:last-child a{
	border:none;
}
footer ul li a{
	color: #2c3e50;
	margin-bottom: 5px;
	display: block;
	padding-left: 10px;
	display: block;
	padding-right: 10px;
	border-right: 1px solid #7f8c8d;
}
.footer-connect{
	margin-top: 60px;
}
.footer-connect img{
	width: 30px;
	width: 30px;
	float: left;
	margin-right: 10px;
}
footer strong{
	display: block;
	margin-bottom: 5px;
}
footer div.images{
	margin-left: 20px;
}


/* LIST VENDORS */
.clr{clear: both;}

.top-list-vendor{
	width: 100%;
	height: 50px;
	padding: 5px;
	border-bottom: 1px solid #DDDDDD;
}
.top-list-vendor-title{
	float: left;
	font-size: 25px;
	color: 	#000;
}
.top-list-vendor-function{
	float: right;
	width: 300px;
	height: 100%;
	border: none;
	border-radius: 6px;
	display: block;
}
.list-photo{
	width: 66px;
	height: 100%;
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	text-align: center;
	color: #19B5BC;
	cursor: pointer;
}
.list-list{
	width: 66px;
	height: 100%;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	text-align: center;
	color: #19B5BC;
	cursor: pointer;
}
.list-compare{
	width: 66px;
	height: 100%;
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	text-align: center;
	color: #19B5BC;
	cursor: pointer;
}

.filter{
	height: 500px;
	border-right: 1px solid #DDDDDD;
	font-size: 25px;
	color: #177EE5;
}
.vendor-item{
	border: 1px solid #ddd;
    display: inline-block;
    height: auto;
    margin: 30px 50px 30px 0;
    padding: 5px;
    position: relative;
    vertical-align: top;
    text-align: center;
    width: 150px;
    border-radius:6px 6px 6px 0px;
}
.avatar img{
	width: 100%;
	height: 80%;
}
.category-name{
	text-transform: uppercase;
	color: #FFFFFF;
	background: #AAAAAA;
}
.name{
	color: #19B5BC;
}
.compare{
	border: 1px solid #ddd;
	border-radius: 0 0 6px 6px;
    border-top: medium none;
    bottom: -41px;
    left: -1px;
    position: absolute;
    background-color: #fff;
    font-weight: normal;
    padding: 10px 4px 0px 4px;
}
.check-box{
	height: 10px;
}
.compare-checkbox{
	display: inline-block;
}
.compare-title{
	text-transform: uppercase;
}
#button-submit{
	border:none;
	color: #5683AA;
	width: 100px;
	height: 40px;
}
/*show list vendor for 'list'*/
.vendor-item-list{
	border-bottom: 1px solid #ddd;
    display: inline-block;
    height: 183px;
    margin: 30px 50px 30px 0;
    position: relative;
    vertical-align: top;
    text-align: center;
    width: 100%;
}
.vendor-item-list-left{
	width: 20%;
	height: 10%;
	padding: 2%;
	float: left;
}
.vendor-item-list-right{
	width: 77%;
	height: 10%;
	float: left;
	margin-left: 2%;
	text-align: left;
	vertical-align: top;
	display: block;
}
.decription-list{
	padding-top: 2%;
}
.compare-list{
	border: 1px solid #ddd;
	border-radius:6px;
    bottom: 15px;
    right: -1px;
    position: absolute;
    background-color: #fff;
    font-weight: normal;
    margin-right: 2%;
}
.list-vendor-function{
	padding-top: 2%;
}
.list-check-rates{
	padding: 4px 0;
	margin-right: 2%;
}
/*thuy viet cho video vad map*/
.iframe{
	padding: 20px;
}
*compare*/
.icon-button{
	margin-left: 100px;
}
.link-img{
	width: 150px;
	text-align: right;
}
.img-vendor{
	padding: 3px;
}
.img-icon{
	width: 15px; 
	height: 15px;
}
#compare {
	text-align: center;
	background-color: #f7dde7;
	margin: 10px;
	padding: 20px;
}
#compare td{
	width: 200px;
	padding: 10px;
	border-left: 1px solid #fff;
}
#compare th{
	width: 200px;
	padding: 10px;
	border-left: 1px solid #fff;
}
#compare tr{
	margin-top: 5px;
	margin-bottom: 10px;
}
.button-contact{
	padding-top: 10px;
	padding-bottom: 20px;
}
.icon-ok{
	margin-bottom: 20px;
	margin-top: 10px;
	color: #ff924c;
}
.heart{
	color: #f48277;
	margin-right: 7px;
}
.align{
	text-align: left;
}
.center-align{
	text-align: center;
}
/*--Details-vendor*/

#vendor-menu{
	background-color: #f7dde7 ;
	border-radius: 8px;
}

.contact-me
{
	margin-left: 20px;

}

.compare-btn
{
	border: 1px solid #fff;
	background-color: #f7dde7;
	border-color: #f7dde7;
}



.boder-style{
	border-left: 2px dashed white;
}
#right-contact
{

	border: 1px solid #ddd;
	border-bottom: none;
	border-top: none;
	border-right: none;
	border-left: none;
}
#body-left
{
	border: 1px solid #ddd;
	border-left: none;
	border-bottom: none;
	border-top: none;
	
}

#top-left
{
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	border-top: none;
}
.container
{
	border: 1px solid #ddd;
	margin-bottom: 30px;
}

/*--slide*/

#bigPic{
	width:700px;
	height:300px;
	padding:1px;
	border:1px solid #CCC;
	background-color:#FFF;
	margin-bottom:10px;
}
#bigPic img{
	position:absolute;
	display:none;
}
ul#thumbs li.active{
	border:2px solid #000;	
	background:#fff;
	padding:2px;
}
ul#thumbs, ul#thumbs li{
	margin:0;
	padding:0;
	list-style:none;
}
	
ul#thumbs li{
	float:left;
	margin-right:7px;
	margin-bottom:5px;
	border:1px solid #CCC;	
	padding:3px;
	cursor:pointer;
}
ul#thumbs img{
	float:left;
	width:80px;
	height:80px;
	line-height:80px;
	overflow:hidden;
	position:relative;
	z-index:1;		
}
#bigPic img{
	width:700px;
	height:300px;
	padding:1px;

}
#photos
{
	margin-bottom: 50px;
}