
a:hover{text-decoration: none;}
a:visited{text-decoration: none;}
a:link{text-decoration: none;}
a:focus{text-decoration: none;}

body.home-page{
	background: #E38AAE;
	font-family: Noto Serif, Helvetica Neue,Helvetica,Arial,sans-serif;
}
.wrapper{
	margin-top: 10px;
	background: url('http://localhost/couple-site/public/assets/img/bg.jpg');
}
/* ---Header--- */
ul.nav{
	font-family: Noto Serif;
	margin-top: 55px;
}
ul.nav li.dropdown:last-child ul.dropdown-menu{
	left: -180%;
}

ul.nav li.dropdown a.dropdown-toggle{
	text-transform: uppercase;
	padding-right: 25px;
	color: #E75280;
	font-weight: bold;
	background: none;
}
ul.nav li.open a.dropdown-toggle{
	color: #7f8c8d;
	background: #F48BB8;
}
ul.nav li.dropdown a.dropdown-toggle:hover{
	color: #fff;

}
ul.nav ul.nav-submenu{
	width: 300%;
	
}
ul.nav ul.nav-submenu li.dropdown-header{
	font-size: 18px;
}
ul.nav ul.nav-submenu li.dropdown-header span{
	display: block;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 10px;
}
/*Content*/
section{
	position: relative;
}
.search-main{
		position: absolute;
		top: 7%;
		left: 15%;
		z-index: 20;
}
.search-form{
	padding: 25px;
	background-color: rgba(255, 254, 255, 0.5);
}
.search-form input{
	border-radius: 0px;
}
.search-form button{
	border-radius: 0px;
	background: #F48BB8;
	color: #FFFFFF;
}
.search-form input.input-text{
	display: block;
	cursor:pointer;

}
.search-form div.dropdown ul.dropdown-menu{
	width: 250%;
	position: absolute;
	left: 5%;
	padding-left: 20px;
	font-size: 20px;

}
div#menu ul.list-unstyled span{
	display: block;
	padding: 5px;
	cursor: pointer;
}
div#menu ul.list-unstyled span:hover{
	color: #3399FF;
}
.form-title h2{
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 70px;
	margin-bottom: 0px;
}
.form-title p{
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 0px;
}
.content{
	margin-top: 20px;
}
.content img,.content p{
	margin-left: 30px;
}
/*List title*/
.list-content .list-title h3{
	display: inline;
	margin-right: 10px;
}
.list-content .list-title button{
	margin-top: -2%;
}
/*Footer*/
footer{
	margin-top: 50px;
	margin-bottom: 10px;
	background: #FBE5EC;
	padding: 10px 10px;
}
footer ul li{
	margin-top: 5px;
	float: left;
	overflow: hidden;
}
.content-contact{
	clear: both;
	margin-left: 10px;
}
footer ul li:last-child a{
	border:none;
}
footer ul li a{
	color: #2c3e50;
	margin-bottom: 5px;
	display: block;
	padding-left: 10px;
	display: block;
	padding-right: 10px;
	border-right: 1px solid #7f8c8d;
}
.footer-connect{
	margin-top: 60px;
}
.footer-connect img{
	width: 30px;
	width: 30px;
	float: left;
	margin-right: 10px;
}
footer strong{
	display: block;
	margin-bottom: 5px;
}
footer div.images{
	margin-left: 20px;
}


/* LIST VENDORS */
.clr{clear: both;}

.top-list-vendor{
	width: 100%;
	height: 50px;
	padding: 5px;
	border-bottom: 1px solid #DDDDDD;
}
.top-list-vendor-title{
	float: left;
	font-size: 25px;
	color: 	#000;
}
.top-list-vendor-function{
	float: right;
	width: 210px;
	height: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 6px;
	display: block;
}
.list-photo{
	width: 66px;
	height: 100%;
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	text-align: center;
	color: #19B5BC;
	cursor: pointer;
}
.list-list{
	width: 66px;
	height: 100%;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	text-align: center;
	color: #19B5BC;
	cursor: pointer;
}
.list-compare{
	width: 66px;
	height: 100%;
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	text-align: center;
	color: #19B5BC;
	cursor: pointer;
}

.filter{
	height: 500px;
	border-right: 1px solid #DDDDDD;
	font-size: 25px;
	color: #177EE5;
}
.vendor-item{
	border: 1px solid #ddd;
    display: inline-block;
    height: 183px;
    margin: 30px 50px 30px 0;
    padding: 5px;
    position: relative;
    vertical-align: top;
    text-align: center;
    width: 150px;
    border-radius:6px 6px 6px 0px;
}
.avatar img{
	width: 100%;
	height: 80%;
}
.category-name{
	text-transform: uppercase;
	color: #FFFFFF;
	background: #AAAAAA;
}
.name{
	color: #19B5BC;
	background: #FFFFFF;
}
.compare{
	border: 1px solid #ddd;
	border-radius: 0 0 6px 6px;
    border-top: medium none;
    bottom: -29px;
    left: -1px;
    position: absolute;
    background-color: #fff;
    font-weight: normal;
    padding: 4px 0;
}
.compare-checkbox{
	display: inline-block;
}
.compare-title{
	text-transform: uppercase;
}

/* BACK TO TOP */
#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: -150px;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(up-arrow.png) no-repeat center center;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}