@font-face {
	font-family: 'UvfAphroditePro';
	src: url('../fonts/UVF Aphrodite Pro.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'UVF-LH-Line1-Sans-Thin';
	src: url('../fonts/UVF LH Line1 Sans Thin.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}