

.float-left{
	float: left;
}
.float-right{
	float: right;
}
.float-left button{
	position: absolute;
	right: 20px;
	bottom: 5px;
	display: none;
}
.float-right button{
	position: absolute;
	right: 20px;
	bottom: 5px;
	display: none;

}
.click-edit{
	display: none;
}
.ok-edit{
	display: none;
}
.edit-content{
	display: none;
}
.partion:hover button{
	display: inline-block;
}
.partion:hover .click-edit{
	display: inline-block;
}
.background-themes 
{ 
	/*height: 650px;
	overflow-y:auto;*/
	padding: 0px;
	margin-left: 0px;
	margin-right: -4px;
	background-attachment:fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size:100%;
  background-size: 100%;
  
}
.background-themes1
{ 
	height: 667px;
	overflow-y:auto;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-attachment:fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size:100%;
  background-size: 100%;
  
}
.after-image-themes{
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px 15px 25px 15px;
	background:rgba(255,255,255,0.7);
	/*background-color: white;*/
}


.nav-themes-fixed{
	top: 0px;
	
	padding: 0px;
	
}
.navar-themes{
	text-align: center;

	width: 100%;
	padding-right: 0px;
	position: fixed;
	z-index: 1000;
}
.show-content{
	padding: 0px;
	margin: 0px;
	padding: 0 5px;
	opacity: 1;
}
.icon-site{
	color: #19b5bc;
	line-height: 2.75em;
	font-size: 1.5em;

}
.icon-site:hover{
	text-decoration: none;

}
.icon-site:active{
	text-decoration: none;
}
.phara-margin{
	margin:0px !important;
}
.images-padding{
	padding: 1px;
}
.partion{
	padding-top: 40px;
}

/* Tabs comment */
/*Circle image*/
.div_circle1 button{
	display: none;
}
.div_circle2 button{
	display: none;
} 
.partion :hover button{
	display: inline-block;
}
.a_menu{
	font-size: 20px;
}
.navbar-nav > li > .a_menu:hover{
	color: #3E29FF !important;
}


@media (min-width: 768px) {
.nav-disappear {display: none !important;}}    

@media (max-width: 768px) {
.tab-disappear {display: none !important;}}
.navbar_edits{
	position: fixed;
	width: 74.5% ;
	z-index: 1;
}



