
.container_themes3{
	background: url("../../images/website/themes3/bg.jpg") repeat top left;
	width: 100%;
	height: 600px;
	margin: 0px;
	z-index: -11111;
	overflow-y: auto;
	overflow-x: hidden;
}

.container_themes3_page{
	background: url("../../images/website/themes3/bg.jpg") repeat top left;
	width: 100%;
	margin: 0px;
	z-index: -11111;
	overflow-y: auto;
	overflow-x: hidden;
}

.margin-row{margin: 0;}

.menu-top{
	background: url("../../images/website/themes3/top_bg.jpg") repeat-x top left;
	margin: 0px;
	padding: 0;
	font-size: 12px;
	margin: 0 auto;
	color: #ffffff;
	height: 70px;
	text-align: center;
	position: relative;
	width: inherit;
	
}
.menu-top span{
	font-size: 22px;
	text-transform: uppercase;
}
.container_menu{
	text-align: center;
	position: relative;
	height: 15em;
	background: rgba(0,0,0,0.05);
	font-family: 'Lato', Arial, sans-serif;
	margin: 50px 0px 3em 0px;
}
.container_menu > h2{
	position: absolute;
	overflow: hidden;
	width: 90%;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 300;
	font-style: italic;
	font-size: 12em;
	opacity: 0.1;
	cursor: default;
}

/*menu*/
ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
	list-style-type: none;
}


.hexagon {
  position: relative;
  top: 20%;
  left: 30%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  transform-origin: center;
  transform: scale(1.00005); /* hack Firefox smooth edge */
}
.hexagon2 {
  position: relative;
  top: 20%;
  left: 70%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  transform-origin: center;
  transform: scale(1.00005); /* hack Firefox smooth edge */
}

.hexagon_p {
  position: relative;
  top: 20%;
  left: 30%;
  margin-top: 30px;
  margin-left: -30px;
  width: 60px;
  transform-origin: center;
  transform: scale(1.00005); /* hack Firefox smooth edge */
}
.hexagon2_p {
  position: relative;
  top: 20%;
  left: 70%;
  margin-top: 30px;
  margin-left: -30px;
  width: 60px;
  transform-origin: center;
  transform: scale(1.00005); /* hack Firefox smooth edge */
}

/*=================================== top and bottom triangle
*/

.polygon_top,
.polygon_bottom {
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position: absolute;
  width: 0;
  height: 0;
  transition: width 0.3s ease-in-out, border 0.1s linear, border-radius 0.5s ease-in-out;
}

.polygon_top a,
.polygon_bottom a {
  color: rgba(55, 55, 55, 0);
  display: block;
  font-size: 0px;
  text-transform: uppercase;
  width: 100%;
  transition: color, font-size 0.1s;
}

.polygon_top:nth-child(1),
.polygon_top:nth-child(3),
.polygon_bottom:nth-child(4),
.polygon_bottom:nth-child(6) {
  cursor: pointer;
}

.polygon_top:nth-child(1):hover > a,
.polygon_top:nth-child(3):hover > a,
.polygon_bottom:nth-child(4):hover > a,
.polygon_bottom:nth-child(6):hover > a {
  color: #C31743;
  font-size: 0.9em;
}

.polygon_top:nth-child(1) {
  border-bottom: 30px solid #9b59b6;
  right: 0;
  transform: translateX(-30px) translateY(-15px);
}

.polygon_top:nth-child(1):hover {
  border-radius: 4px 0 0 4px;
  border-left: 18px solid #9b59b6;
  width: 120px;
  z-index: 100;
}
.polygon_top:nth-child(1) > a {
  line-height: 30px;
}

.polygon_top:nth-child(2) {
  border-bottom: 30px solid #d0b2dd;
  transform: translateX(12px) translateY(15px);
}

.polygon_top:nth-child(3) {
  border-bottom: 30px solid #b07cc6;
  left: 0;
  transform: translateX(30px) translateY(-15px);
}

.polygon_top:nth-child(3):hover {
  border-radius: 0 4px 4px 0;
  border-right: 18px solid #b07cc6;
  width: 120px;
  z-index: 100;
}

.polygon_top:nth-child(3) > a {
  text-align: right;
  line-height: 30px;
}

.polygon_bottom:nth-child(4) {
  border-top: 30px solid #dbc3e5;
  right: 0;
  transform: translateX(-30px) translateY(15px);
}

.polygon_bottom:nth-child(4):hover {
  border-radius: 4px 0 0 4px;
  border-left: 18px solid #dbc3e5;
  width: 120px;
  z-index: 100;
}

.polygon_bottom:nth-child(4) > a {
  text-align: left;
  line-height: 30px;
  margin-top: -30px;
}

.polygon_bottom:nth-child(5) {
  border-top: 30px solid #a66bbe;
  transform: translateX(12px) translateY(-15px);
}

.polygon_bottom:nth-child(6) {
  border-top: 30px solid #c6a0d5;
  transform: translateX(30px) translateY(15px);
}

.polygon_bottom:nth-child(6):hover {
  border-radius: 0 4px 4px 0;
  border-right: 18px solid #c6a0d5;
  width: 120px;
  z-index: 100;
}

.polygon_bottom:nth-child(6) > a {
  text-align: right;
  line-height: 30px;
  margin-top: -30px;
}
/*.menu*/


.photo-book{
    width: 100%;
    text-align: center;
    margin: 80px 0px 0px 0px;
}


.footer{
	background: url("../../images/website/themes3/footer_bg.jpg") repeat-x top #3a7e76;
	width: 100%;
	height: 100px;
	margin: 60px 0 0 0;
	position: relative;
}
.footer-badge{
	background: url("../../images/website/themes3/footer_badge.png") no-repeat center;
	color: #ffffff;
    font-size: 24px;
    height: 40px;
    position: absolute;
    text-align: center;
    top: -12px;
    width: 100%;
    text-transform: uppercase;

}


/*page welcome*/
.welcome ,.event ,.images{
	text-align: center;
	display: none;
	width: 1%;
	min-height: 400px;
	margin: 25px 0;
	float: left;
}

.about ,.contact ,.travel{
	text-align: center;
	display: none;
	width: 1%;
	min-height: 400px;
	margin: 25px 0;
	float: right;
}

.contact{
	text-align: left;
	display: none;
	width: 1%;
	min-height: 400px;
	margin: 25px 0;
	float: right;
}






