

@import url(../fonts/UVF Aphrodite Pro.ttf);

body{
	background: url(../../images/website/themes21/bg_piece.jpg) repeat;
	width: 100%;
	height: 100%;
}

#photo, #wedding, #about-us, #about-us-2, #div-text, #div-text-4, #div-text-5{
	display: none;
}
#guestbook{
	display: none;
}

/* home */
.groom-bride{
	width: 50%;
	height: 5%;
	position: absolute;
	top: 35%;
	left: 35%;
	z-index: 100;
	color: #148B84;
	font-size: 50px;
	
}
.groom-bride-name-groom, .groom-bride-name-bride{
	height: 60px;
	width: 25%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "UVF Aphrodite Pro";
}
.groom-bride-name-groom{
	float: left;
	text-align: center;
}
.groom-bride-name-bride{
	float: right;
	position: relative;
	right: 30%;
}
.line-name{
	background: url(../../images/website/themes21/logo_border.png) repeat-x;
	width: 10%;
	height: 1px;
	background-color: transparent;
	position: absolute;
	top: 45%;
	left: 43%;
}
.txt-welcome{
	font-size: 20px;
	position: absolute;
	top: 47%;
	left: 33%;
	color: #EF7F82;
}
/* end home */

/* about-us */
.about-us-img{
	width: 60%;
	margin: 5% auto;
	z-index: 1;
}
.img-groom, .img-bride{
	width: 31%;
	box-shadow: 0px 0px 10px #9BCEC6;
}
.img-cake-wedding{
    width: 37%;
}
.about-us-content-groom, .about-us-content-bride{
	width: 17%;
	text-align: center;
	z-index: 1;
	display: inline-block;
	position: absolute;
	top: 45%;
}
.about-us-content-groom{
	left: 20%;
}
.about-us-content-bride{
	right: 20%;
}
.about-us-content-groom > .name, .about-us-content-bride > .name{
	font-size: 20px;
	color: #DEC46B;
	font-weight: bold;
}
.about-us-content-groom > .ctn-about, .about-us-content-bride > .ctn-about{
	height: 100px;
	overflow-y: auto;
}

.element_12{
	background: url(../../images/website/themes21/element_9.png) no-repeat;
	width: 292px;
	height: 173px;
	position: absolute;
	top: -15%;
	left: 10%;
	z-index: -1;
}
.element_13, .element_22{
	background: url(../../images/website/themes21/element_10.png) no-repeat;
	width: 111px;
	height: 100px;
	position: absolute;
	z-index: -1;
}
.element_13{
	top: 10%;
	left: 33%;
	z-index: -1;
}
.element_22{
	top: 55%;
	right: 35%;
}
.element_14{
	background: url(../../images/website/themes21/element_14.png) no-repeat;
	width: 136px;
	height: 140px;
	position: absolute;
	top: 10%;
	right: 33%;
	z-index: -1;
}
.element_15, .element_21{
	background: url(../../images/website/themes21/element_11.png) no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: -1;
}
.element_15{
	top: 8%;
	left: 43%;
}
.element_21{
	top: 40%;
	right: 40%;
}
.element_16{
	background: url(../../images/website/themes21/element_16.png) no-repeat;
	width: 175px;
	height: 49px;
	position: absolute;
	top: 5%;
	right: 33%;
	z-index: -1;
}
.element_17{
	background: url(../../images/website/themes21/element_17.png) no-repeat;
	width: 274px;
	height: 76px;
	position: absolute;
	top: 72%;
	left: 28%;
	z-index: -1;
}
.element_18, .element_19, .element_20{
	background: url(../../images/website/themes21/element_12.png) no-repeat;
	width: 13px;
	height: 13px;
	position: absolute;
	z-index: -1;
}
.element_18{
	top: 4.5%;
	left: 40.5%;
}
.element_19{
	top: 7%;
	right: 52%;
}
.element_20{
	top: 60%;
	left: 40%;
}

/* end about-us */


.home-img{
	width: 40%;
	margin: 5% auto;
}
.home-img img{
	height: 100%;
	width: 100%;
	border-radius: 10% 0 10% 0;
}
.element_1, .element_2, .element_3, .element_3_3{
	background: url(../../images/website/themes21/element_1.png) no-repeat;
	width: 33px;
	height: 33px;
	position: absolute;
	z-index: -1;
}
.element_1{
	top: 5%;
	left: 20%;
}
.element_2{
	top: 5%;
	right: 10%;
}
.element_3 {
    left: 52%;
    top: 63%;
}
.element_3_3 {
    left: 70%;
    top: 77%;
}
.element_4, .element_5{
	background: url(../../images/website/themes21/element_3.png) no-repeat;
	width: 17px;
	height: 17px;
	position: absolute;
	z-index: -1;
}
.element_4{	
	top: 2%;
	left: 25%;
}
.element_5{	
	top: 40%;
	left: 20%;
}
.element_6{
	background: url(../../images/website/themes21/element_2.png) no-repeat;
	width: 42px;
	height: 42px;
	position: absolute;
	top: 15%;
	left: 5%;
	z-index: -1;
}
.element_7{
	background: url(../../images/website/themes21/element_5.png) no-repeat;
	width: 259px;
	height: 392px;
	position: absolute;
	top: 35%;
	left: 8%;
	z-index: -1;
}
.element_8{
	background: url(../../images/website/themes21/element_7.png) no-repeat;
	width: 128px;
	height: 194px;
	position: absolute;
	top: 40%;
	right: 12%;
	z-index: -1;
}
.element_9, .element_10{
	background: url(../../images/website/themes21/element_4.png) no-repeat;
	width: 17px;
	height: 17px;
	position: absolute;
	z-index: -1;
}
.element_9{
	top: 65%;
	left: 30%;
}
.element_10{
	top: 4%;
	left: 60%;
}
.element_11{
	background: url(../../images/website/themes21/element_6.png) no-repeat;
	width: 239px;
	height: 93px;
	position: absolute;
	top: 68%;
	right: 30%;
	z-index: -1;
}


/* wedding */

.tab-text{
	width: 20%;
	min-height: 200px;
	border-radius: 5px;
	background-color: #5A948A;
	color: #FFFFFF;
	position: absolute;
	top: 10%;
	left: 20%;
}
.tab-text-title{
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	background-color: transparent;
	border-bottom: 1px solid #FFFFFF;
}
.tab-text-content{
	max-height: 300px;
	overflow-y: auto;
	padding: 10% 15%;
	text-align: center;
}
.tab-text-img{
	height: 300px;
    position: absolute;
    right: 10%;
    top: 35%;
    width: 35%;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
}
.tab-text-date-time{
	margin: 10px auto;
	padding-left: 15%;
}

.element_23{
	background: url(../../images/website/themes21/element_20.png) no-repeat;
	width: 1000px;
	height: 500px;
	position: absolute;
	z-index: -1;
}
.element_24{
	background: url(../../images/website/themes21/element_21.png) no-repeat;
	width: 1000px;
	height: 500px;
	position: absolute;
	z-index: -1;
}
.element_25{
	background: url(../../images/website/themes21/element_18.png) no-repeat;
	width: 300px;
	height: 133px;
	position: absolute;
	top: -5%;
	left: 5%;
	z-index: -1;
}
.element_26{
	background: url(../../images/website/themes21/element_19.png) no-repeat;
	width: 28px;
	height: 30px;
	position: absolute;
	top: 7%;
	left: 4%;
	z-index: -1;
}
.element_27{
	background: url(../../images/website/themes21/element_23.png) no-repeat;
	width: 13px;
	height: 12px;
	position: absolute;
	top: 40%;
	left: 17%;
	z-index: -1;
}
.element_28{
	background: url(../../images/website/themes21/element_24.png) no-repeat;
	width: 22px;
	height: 20px;
	position: absolute;
	top: 15%;
	left: 12%;
	z-index: -1;
}
.element_29{
	background: url(../../images/website/themes21/element_25.png) no-repeat;
	width: 4px;
	height: 4px;
	position: absolute;
	top: 70%;
	left: 12%;
	z-index: -1;
}
.element_30{
	background: url(../../images/website/themes21/element_27.png) no-repeat;
	width: 32px;
	height: 27px;
	position: absolute;
	top: 75%;
	left: 25%;
	z-index: -1;
}
.element_31{
	background: url(../../images/website/themes21/element_28.png) no-repeat;
	width: 32px;
	height: 27px;
	position: absolute;
	top: 75%;
	left: 33%;
	z-index: -1;
}
.element_32{
	background: url(../../images/website/themes21/element_26.png) no-repeat;
	width: 19px;
	height: 19px;
	position: absolute;
	top: 10%;
	left: 50%;
	z-index: -1;
}
.element_33{
	background: url(../../images/website/themes21/element_29.png) no-repeat;
	width: 257px;
	height: 115px;
	position: absolute;
	top: 20%;
	right: 10%;
	z-index: -1;
}

/* end wedding */

/* photo */

.tab-photo{
	width: 60%;
	margin: 8% auto;
}
.tab-photo-img{
	width: 19.5%;
	height: 170px;
	border: 1px solid #81B0A8;
	margin: 0;
	padding-bottom: 0.2%;
}
.element_34{
	background: url(../../images/website/themes21/element_30.png) no-repeat;
	width: 259px;
	height: 392px;
	position: absolute;
	top: 0%;
	left: 5%;
	z-index: -1;
}
.element_35{
	background: url(../../images/website/themes21/element_31.png) no-repeat;
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0;
	z-index: -1;
}
.element_36{
	background: url(../../images/website/themes21/element_32.png) no-repeat;
	width: 70%;
	height: 500px;
	position: absolute;
	top: 10%;
	left: 25%;
	z-index: -1;
}
.element_37{
	background: url(../../images/website/themes21/element_33.png) no-repeat;
	width: 80%;
	height: 600px;
	position: absolute;
	top: 0;
	left: 20%;
	z-index: -1;
}
.element_38{
	background: url(../../images/website/themes21/element_34.png) no-repeat;
	width: 80%;
	height: 600px;
	position: absolute;
	top: 0;
	left: 20%;
	z-index: -1;
}
.element_39{
	background: url(../../images/website/themes21/element_35.png) no-repeat;
	width: 105px;
	height: 92px;
	position: absolute;
	top: 5%;
	right: 16.5%;
	z-index: -1;
}
.element_40{
	background: url(../../images/website/themes21/element_36.png) no-repeat;
	width: 75px;
	height: 31px;
	position: absolute;
	top: 5%;
	left: 38%;
	z-index: -1;
}
.element_41{
	background: url(../../images/website/themes21/element_40.png) no-repeat;
	width: 24px;
	height: 26px;
	position: absolute;
	top: 5%;
	left: 33%;
	z-index: -1;
}
.element_42{
	background: url(../../images/website/themes21/element_38.png) no-repeat;
	width: 18px;
	height: 16px;
	position: absolute;
	top: 8%;
	right: 30%;
	z-index: -1;
}
.element_43{
	background: url(../../images/website/themes21/element_39.png) no-repeat;
	width: 12px;
	height: 10px;
	position: absolute;
	top: 70%;
	right: 40%;
	z-index: -1;
}
.element_44{
	background: url(../../images/website/themes21/element_37.png) no-repeat;
	width: 98px;
	height: 50px;
	position: absolute;
	top: 75%;
	right: 45%;
	z-index: -1;
}
.element_45{
	background: url(../../images/website/themes21/element_41.png) no-repeat;
	width: 38px;
	height: 40px;
	position: absolute;
	top: 65%;
	right: 60%;
	z-index: -1;
}
.element_46{
	background: url(../../images/website/themes21/element_42.png) no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 75%;
	left: 30%;
	z-index: -1;
}

/*end photo*/

/* div-text */
.div-text-tab-text{
	width: 60%;
	min-height: 200px;
	border-radius: 5px;
	background-color: #5A948A;
	color: #FFFFFF;
	position: absolute;
	top: 17%;
	left: 20%;
}
.div-text-tab-text-title{
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	background-color: transparent;
	border-bottom: 1px solid #FFFFFF;
}
.div-text-tab-text-content{
	max-height: 300px;
	overflow-y: auto;
	padding: 5% 10%;
	text-align: center;
}

/* end div-text */


#footer{
	position: fixed;
	bottom: 0;
	height: 85px;
	width: 100%;
	background-color: #47635F;
	z-index: 100;
}
.ft-left{
	margin-left: 15px;
	margin-top: 10px;
}
.ft-left > .name-groom-bride{
	color: #FFFFFF;
	font-size: 25px;
	font-family: "UVF Aphrodite Pro";
}
.ft-left > .copy-right{
	color: #FFFFFF;
}

.ft-center{
	margin-left: 25%;
    margin-top: -3.5%;
    width: 70%;

}
.navbar-default{
	background: none !important;
	border: none !important;
}
.navbar-nav > li >a{
	color: #FFFFFF !important;
	font-size: 14px;
}
.navbar-nav > li >a:hover{
	color: #FFFFFF !important;
	border-bottom: 2px solid #F05F60;
}


.ft-right{
	width: 10%;
	position: relative;
	right: 2%;
}



/* set view */
@media (max-width: 1280px){
	.about-us-img{
		width: 75%;
	}
	.img-groom, .img-bride{
		width: 30%;
	}
	.img-cake-wedding{
	    width: 35%;
	}

	.about-us-content-groom, .about-us-content-bride{
		top: 60%;
	}
	.about-us-content-groom{
		left: 15%;
	}
	.about-us-content-bride{
		right: 17%;
	}
}

@media (max-width: 980px){
	.element_12, .element_13, .element_14, .element_15, .element_16,
	.element_17, .element_18, .element_19, .element_20, .element_21, .element_22 {
		display: none;
	}
	.about-us-content-groom, .about-us-content-bride{
		top: 22%;
	}
	.ft-left{
		display: none;
	}

	.element_1, .element_2, .element_3, .element_3_3, .element_4,
	.element_5, .element_6, .element_7, .element_8, .element_9, .element_10, .element_11{
		display: none;
	}
	.groom-bride{
		top: 12%;
		left: 33%;
		font-size: 350%;
	}
	.line-name{
		top: 18%;
		left: 45%;
	}
	.txt-welcome{
		top: 19%;
		left: 36%;
		font-size: 100%;
	}
}
@media (max-width: 980px){
	.groom-bride{
		top: 12%;
		left: 33%;
		font-size: 300%;
	}
	.line-name{
		top: 16%;
		left: 45%;
	}
	.txt-welcome{
		top: 17%;
		left: 36%;
		font-size: 90%;
	}
	.tab-photo{
		width: 80%;
		margin: 8% auto;
	}
}
@media (max-width: 768px){
	.groom-bride{
		top: 14%;
		left: 33%;
		font-size: 300%;
	}
	.line-name{
		top: 19%;
		left: 45%;
	}
	.txt-welcome{
		top: 20%;
		left: 36%;
		font-size: 90%;
	}
	.tab-photo{
		width: 90%;
		margin: 8% auto;
	}
}
@media (max-width: 360px){
	.home{
		display: none;
	}

	.tab-text{
		width: 40%;
		top: 10%;
		left: 5%;
	}
	.tab-text-img{
		height: 200px;
	    right: 5%;
	    top: 50%;
	    width: 45%;
	}
	.tab-photo{
		width: 80%;
		margin: 8% auto;
	}
	.tab-photo-img{
		width: 25%;
		height: 110px;
	}

}
h3{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
}



