/* Google font */
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,vietnamese);
h2{
    color: #de675f;
    font-family: 'Courgette', cursive;
    font-weight: normal;
    line-height: 1.5;
}

.side-nav a {
    color: #de675f;
    transition: all 300ms ease-out 0s;
}
.side-nav a:hover {
    color: #ec6d65;
}
.side-nav-menu
{
	background: none repeat scroll 0 0 rgba(236, 109, 101, 0.9) !important;
}
.side-nav
{
	margin: 0 !important;
	padding: 0 !important;
	font-weight: bold !important;
	text-transform: uppercase !important;
	line-height: 1.6 !important;
}
.side-nav .active > a:focus 
{
	background-color: #fff !important;
	color: #ec6d65 !important;
}
.side-nav li.active a 
{
	background-color: #fff !important;
	color: #ec6d65 !important;
}
.side-nav li a {
    border-right: 1px solid #fb918a!important;
    color: #fff !important;
    display: block !important;
    padding: 1.25em !important;
}
.side-nav li a:hover {
    background-color: #fff !important;
    color: #de675f!important;
}

.main-template
{
	margin-top: 100px;
}

.section-title
{
	line-height: 1.2;
    text-align: center;
    font-size: 4em;   
    border-bottom: 4px double #c9b29b;
    width: auto;   
    margin-top: 20px;
    text-transform: uppercase ;
    margin: 0 25%;
}
.section-title span
{
	text-transform: uppercase ;
	
}
.section-title em
{
	color: #987c61;
	font-size: 30px;
}
.main-page
{
	border: double solid ;
}
.subline
{
	padding: 0.5em 0.5em 0;
	font-size: 2em;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 1.25em;    
    color: #987c61;
    font-family: 'Patrick Hand', cursive;
}


.section-title-about
{
	 margin: 0 25%;
       
}

.section-title-wedding
{
	margin: 0 35%;
   
}
.section-title-traval
{
	margin: 0 35%;
}
.section-title-photo
{
	margin: 0 35%;
}
.section-title-contact
{
	margin: 0 35%;
}
.section-title-love_story
{
	margin: 0 25%;
}
.image-couple
{
	margin-top: 2%;
}

.about_grooms
{
	margin-top: 2%;
}
.about_bride
{
	margin-top: 2%;
}
.contact-content
{
	margin-top: 2%;
}
p
{
	color: #755F49;
    line-height: 1.6;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.show-content span
{
	color: #755F49;
    line-height: 1.6;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

body
{
	overflow-x:hidden;
}
.float-left
{
	float: left;
}
.float-right
{
	float: right;
}
.show-content
{
	padding: 0 5px;
	margin-top: 2%;
}
.phara-temp
{
	margin-top: 2%;
}
.about-template
{
	background: none repeat scroll 0 0 #f7f7f7;
	padding-bottom: 2%;
	padding-top: 2%;
}
.wedding-traval
{
	background: none repeat scroll 0 0 #f7f7f7;
	padding-bottom: 2%;
	padding-top: 2%;
}
.wedding-contact
{
	background: none repeat scroll 0 0 #f7f7f7;
	padding-bottom: 2%;
	padding-top: 2%;
}

.image-couple
{
	margin-top: 2%;

}
.icon-go_top #go_top
{
    background-color: #f7f7f7;
    border-color: #777;
    border-radius: 10px;
    bottom: 15px;
    display: none;
    position: fixed;
    right: 15px;
    width: 60px;
    z-index: 9999;

}
.count_table_dateTime{
	text-align:center !important; 
	font-family: 'Roboto Slab', serif !important;
	font-weight: bold !important; 
	font-size: 30px !important; 
	color: #de675f !important;
}
@media only screen and (max-device-width: 980px) {

	.count_table_dateTime{
		font-size: 20px !important;
	}
	.section-title
	{
		font-size: 4em;
	}
	.section-title em
	{
		font-size: 20px;
	}
}
@media only screen and (max-device-width: 360px) {

	.count_table_dateTime{
		font-size: 14px !important;
	}
	.section-title
	{
		font-size: 2em;
	}
	.section-title em
	{
		font-size: 14px;
	}
	.subline
	{
		font-size: 14px;
	}
}