/* Google font */
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,vietnamese);
.phara-temp h2{
    color: #de675f;
    font-family: 'Courgette', cursive;
    font-weight: normal;
    line-height: 1.5;
    
}
.side-nav a {
    color: #de675f;
    transition: all 300ms ease-out 0s;
    font-size: 12px !important;
}
.side-nav a:hover {
    color: #ec6d65;
}
.side-nav-menu
{
	position: relative;
	background: none repeat scroll 0 0 rgba(236, 109, 101, 0.9) !important;
	z-index:100;
}
.side-nav
{
	margin: 0 !important;
	padding: 0 !important;
	font-weight: bold !important;
	text-transform: uppercase !important;
	line-height: 1.6 !important;
}
.side-nav .active > a:focus 
{
	background-color: #fff !important;
	color: #ec6d65 !important;
}
.side-nav li.active a 
{
	background-color: #fff !important;
	color: #ec6d65 !important;
}
.side-nav li a {
    border-left: 1px solid #fb918a!important;
    color: #fff !important;
    display: block !important;
    padding: 1 em !important;
}
.side-nav li a:hover {
    background-color: #fff !important;
    color: #de675f!important;
}

.main-template
{
	margin-top: 10% !important;
}

.section-title
{
	line-height: 1.2;
    text-align: center;
    font-size: 4em;   
    border-bottom: 4px double #c9b29b;
    width: auto;   
    margin-top: 20px;
    margin: 0 10%;
    text-transform: uppercase ;
}
.section-title span
{
	text-transform: uppercase ;
	
}
.section-title em
{
	color: #987c61;
	font-size: 30px;
}
.main-page
{
	border: double solid ;
}
.subline
{
	padding: 0.5em 0.5em 0;
	font-size: 1.5em !important;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 1.25em;    
    color: #987c61;
    font-family: 'Patrick Hand', cursive;
}


.section-title-about
{
	 margin: 0 20%;
       
}

.section-title-wedding
{
	margin: 0 30%;
   
}
.section-title-traval
{
	margin: 0 35%;
}
.section-title-photo
{
	margin: 0 30%;
}
.section-title-contact
{
	margin: 0 35%;
}
.section-title-love_story
{
	margin: 0 20%;
}
.image-couple
{
	padding-top: 2%;
}

.about_grooms
{
	margin-top: 2%;
}
.contact-content
{
	margin-top: 2%;
}
.main_template_7 p
{
	color: #755F49;
    line-height: 1.6;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}
.show-content span
{
	color: #755F49;
    line-height: 1.6;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}
.about_bride
{
	margin-top: 20px;
}
body
{
	overflow-x:hidden;
}
.float-left
{
	float: left;
}
.float-right
{
	float: right;
}
.show-content
{
	padding: 0 5px;
	margin-top: 2%;
	color: #755F49;
    line-height: 1.6;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
.phara-temp
{
	margin-top: 4%;
}
.about-template
{
	padding-bottom: 2%;
	padding-top: 2%;
}
.wedding-traval
{
	padding-bottom: 2%;
	padding-top: 2%;
}
.wedding-contact
{
	padding-bottom: 2%;
	padding-top: 2%;
}

.ok-edit{
	display: none;
}
.edit-content{
	display: none;
	margin-top:2%
}

.float-left button{
	position: absolute;
	right: 20px;
	bottom: 5px;
	
}
.float-right button{
	position: absolute;
	right: 20px;
	bottom: 5px;

}
.icon-site{
	color: #19b5bc;
	line-height: 2.75em;
	font-size: 1.5em;

}
.icon-site:hover{
	text-decoration: none;

}
.icon-site:active{
	text-decoration: none;
}
.image-couple
{
	margin-top: 2%;
}
#count_dateTime
{
	text-align:center; font-family: 'Roboto Slab', serif;font-weight: bold; font-size: 30px; color: #de675f;
}