/*.contact-website input{
	width: 600px;
}*/
/*.background-website{
	background-image: url('../../images/website/hinhnen.jpg');
}*/
/*.background-website{
 height: 120px;
  width: 400px; 
  display: auto;
  border: 1px solid #CCCCCC;
  margin: 1em 0;
}*/
body {
    
    font-family: Arial;
	font-weight: 300;
    color: #666;
    background-color: #fff;
	font-size: 16px;
    line-height: 1.6em;
	font-weight: 400;
	margin: 0 15px 0 15px;
}

html {
    width: 100%;
    margin: 0 auto;
}
.title-tab{
	font-family: "Bombshell Pro"
}
.section button{
position: absolute;
right: 20px;
bottom: 5px;
display: none;
}
/*.send-contact{
position: absolute;
left: 10px;
bottom:0px;

}*/
.edit-content{
	display: none;
}
.section:hover button{
display:inline-block;
}
.section:hover .edit-content{
display:inline-block;

}
.add-section {
	height: 40px;
}
.ok-content{
display: none;
}
.nav-website-fixed{
	position: fixed;
	top: 0px;
	z-index: 1000;
}
.nav-website{
 text-align: center;
}
.title-website{
	padding-top: 30px;
}
